[2020-11-29 09:51] Tejas1510 opened #1 "Gender and Age Detection of input image with OpenCV"

[2020-11-29 09:53] Tejas1510 opened #2 "Zomato Restaurants details using API"
use zomato API https://developers.zomato.com/api

for medium-level: a script that will automatically get the restaurants around you and sort them according to the category you want to order (like north Indian) in a way that the restaurants with a better rating and high discount value stay at the top.

for hard-level: implement medium level + search for a particular dish and gives the restaurant th

[2020-11-29 09:56] Tejas1510 opened #3 "Sudoku Solver"
Make a Sudoku Solver In Javascript

[2020-12-23 14:02] tejan-singh commented on #2
It's not good practice to copy other's work @Tejas1510. I didn't expect this.

[2020-12-23 14:41] Tejas1510 commented on #2
I just liked the issue so added it
There is no problem if we admire good work of other and try to implement

[2020-12-23 14:41] Tejas1510 commented on #2
You have taken your various issues from rotten script since you admire him

[2020-12-23 15:02] #1 closed

[2020-12-23 15:03] Tejas1510 opened #4 "Improve Readme"
Improve the layout of Readme

[2020-12-23 15:06] tejan-singh commented on #2
I have never copied and pasted the exact issues with description like you. I know what are good practices

[2020-12-23 15:07] Tejas1510 opened #5 "URL Shortner"
Create a URL shortener in python or javascript to shorten a URL using TinyURL Open API

[2020-12-23 15:07] tejan-singh commented on #2
At least you should have described it on your own way instead of copy and pasting here. It not a good thing.

[2020-12-23 15:10] Tejas1510 commented on #2
Sure if you have a problem I will delete the complete issue
Kudos

[2020-12-23 15:10] #2 closed

[2020-12-23 15:18] Tejas1510 opened #6 "Meme Maker"
Create a meme Maker in python backed by Tkinter for Frontend or use javascript and Html, css to create a Simple UI
You can use and refer to the following API: https://mememaker.github.io/API/

[2020-12-23 18:03] BobinMathew commented on #4
Hi @Tejas1510  I would like to add links to the official websites of the languages mentioned on the document.

![image](https://user-images.githubusercontent.com/32351527/103025182-43738100-4577-11eb-8b0d-10560ffa2005.png)

[2020-12-23 18:15] Tejas1510 commented on #4
Go ahead
Are you a part of Script Winter of Code

[2020-12-23 18:27] BobinMathew commented on #4
No

[2020-12-23 18:32] BobinMathew commented on #4
I gave a PR 😃

[2020-12-23 18:39] smriti1313 commented on #4
Hi @Tejas1510, after reading the README I came through grammatical mistakes made in the sections. I would like to correct them and also add few words. Don't worry I won't delete any important content :)

[2020-12-23 18:43] Tejas1510 commented on #4
Sure @smriti1313 go ahead

[2020-12-23 18:44] Tejas1510 commented on #4
@smriti1313 I would even suggest you to add some points from your side if you have relevant to the project

[2020-12-23 19:19] smriti1313 commented on #5
Hi,where shall I show you the code for this url shortner?  Like here in issues?

[2020-12-24 05:52] BobinMathew commented on #5
Is this issue resolved ?

[2020-12-24 06:18] Tejas1510 commented on #5
@smriti1313 You can choose which language to work on and then create a PR and after that, I will review it

[2020-12-24 06:19] Tejas1510 commented on #5
@BobinMathew the issue is still open just state the language which you would like to work on

[2020-12-24 06:45] BobinMathew commented on #5
@Tejas1510  I would like to work on Python

[2020-12-27 06:30] Tejas1510 opened #11 "Make a Simple Tic tac toe Game"
It can be formed by python and Tkinter or Html + Javascript

[2020-12-27 07:01] Tejas1510 opened #12 "Bitcoin Price Simulator"
A Bitcoin Price Simulator which tells current Bitcoin Price using Tkinter and luno free API

[2020-12-27 07:04] Tejas1510 opened #13 "Random Password Generator"
A Random Password Generator that generate a Long and Secure Password

[2020-12-27 08:05] yashlad681 commented on #13
Hi, I would love to work on this issue. Can you assign it to me?

[2020-12-27 08:19] Tejas1510 commented on #13
Go Ahead @yashlad681

[2020-12-27 09:45] chetanN02 commented on #3
Would love to work on this issue..!

[2020-12-27 09:55] Tejas1510 commented on #3
Go ahead @chetanN02

[2020-12-27 10:23] Blastoise commented on #6
@Tejas1510 Can you please elaborate the functionalities of this project.

[2020-12-27 10:40] Tejas1510 commented on #6
Hey @Blastoise for the time being you can create a simple website which shows random memes by simply using the provided api
But if you have knowledge of reacts
Then we can make a app where user will be able to create their own api with various provided templates
And then can even download that for their
It will he pretty large full stack project

[2020-12-27 10:45] Blastoise commented on #6
@Tejas1510 Ok great. Assign this to me.

[2020-12-27 14:34] rutvikpadhiyar000 opened #15 "Password checker will deem weak passwods strong."
Password checker will deem weak password like `aA1$` Strong.

[2020-12-27 14:47] Tejas1510 commented on #15
Go ahead @rutvikpadhiyar000

[2020-12-27 15:04] Nishant2907 commented on #11
Hello, I am a participant at SWOC2020. I would like to contribute to this project.
Can you assign me this issue.

[2020-12-27 15:12] Tejas1510 commented on #11
Go ahead @Nishant2907
Please specify the language

[2020-12-27 15:28] Nishant2907 commented on #11
python with tkinter

[2020-12-27 16:32] Nishant2907 commented on #11
Do i have to start today itself or from 4th jan as from then the SWOC contributing time will start?

[2020-12-27 16:38] Tejas1510 commented on #11
On 4 Jan

[2020-12-27 16:39] Tejas1510 commented on #11
You can make the code but create a PR on 4 jan

[2020-12-27 16:40] Nishant2907 commented on #11
okay sure

[2020-12-27 18:49] rutvikpadhiyar000 commented on #13
@yashlad681 which language are you using?

[2020-12-28 05:01] Jayaram18 commented on #5
I would  like  to work on this issue. Please assign me this issue.

[2020-12-28 05:02] KamalAres commented on #13
Hi, I would like to work on this issue in java. Can you assign it to me?

[2020-12-28 05:04] Tejas1510 commented on #13
Go ahead @KamalAres
But create the pr after 4 jan as it will be counted towards your progress

[2020-12-28 05:04] yashlad681 commented on #13
@rutvikpadhiyar000 I am using javascript language

[2020-12-28 05:05] Tejas1510 commented on #5
Go ahead @Jayaram18
Just create a Pr after 4 jan as it will be counted towards your point in swoc

[2020-12-28 05:25] BobinMathew commented on #5
what's swoc2021 ?

[2020-12-28 05:27] Tejas1510 commented on #5
Script Winter of Code

[2020-12-28 05:44] rutvikpadhiyar000 commented on #13
@Tejas1510 should i do it in python or are we doing just 1 script per type?

[2020-12-28 07:30] rutvikpadhiyar000 commented on #15
Okay thanks

[2020-12-28 11:28] sakshikhachane commented on #5
Hi, @Tejas1510 !
I am a participant in SWOC. I want to work on this issue and I would like to create a URL shortener using python.

[2020-12-28 12:24] saiharsha-22 commented on #11
@Tejas1510   I would like to work on this issue using HTML+CSS can assign this task to me,  I am Script Winter of Code Participant.

[2020-12-28 12:25] Tejas1510 commented on #11
Go ahead @saiharsha-22

[2020-12-28 12:27] saiharsha-22 commented on #11
@Tejas1510 I will make my pull request on jan 4. Meanwhile I will start working on the project

[2020-12-28 14:16] Sharanya2019 commented on #15
@Tejas1510 Can I work on this?

[2020-12-28 14:20] Tejas1510 commented on #15
@Sharanya2019 currently one person is working on it
If you have any issue in your mind you can create it and I will assign it to you

[2020-12-29 09:49] Tejas1510 opened #17 "Create a website for the project"
The website should be a standard webpage that is responsive built with bootstrap and related technologies
It should have the following features
1. Proper Responsive Navbar
2. About Section
3. Services Section
    In Services Section we will use Cards and they will be of type Python, Javascript, Java, Nodejs
When a user clicks a particular card he will redirect to a new page where all project relat

[2020-12-29 09:54] Tejas1510 opened #18 "[Open to All] Design Logo for Project"
Create a logo that depicts the idea of Project
Add your Logo inside the Assets folder
The best logo will be chosen for your website

[2020-12-29 09:57] Tejas1510 opened #19 "Create Contribution.md File"
Create a simple contribution.md file which will help beginners to create a PR
Use this for reference https://github.com/Tejas1510/Athavani/blob/master/CONTRIBUTING.md
But all photos will be of current project

[2020-12-29 10:21] iamvs-2002 opened #20 "Create a script in Java to automate the amazon ordering process"
Kindly assign this issue to me.

[2020-12-29 10:24] Tejas1510 commented on #20
Great Issue @iamvs-2002
Go ahead

[2020-12-29 10:25] iamvs-2002 commented on #20
Thanks a lot. Sir, I have recently learned about Selenium, I am allowed to integrate it with Java, right?

[2020-12-29 10:26] Tejas1510 commented on #20
Ya there is no restriction on the use of technology

[2020-12-29 10:28] iamvs-2002 commented on #20
Ohhk thank you sir!

[2020-12-29 10:42] Akshi149 commented on #20
Hi @Tejas1510, can I also write the scripts for the same issue but in Python?

[2020-12-29 10:43] Tejas1510 commented on #20
Go ahead @Akshi149

[2020-12-29 11:59] #15 closed

[2020-12-29 12:22] amandp13 commented on #12
@Tejas1510 Can you please assign me this issue as I am a SWOC 2021 participant

[2020-12-29 12:30] Tejas1510 commented on #12
Go ahead @amandp13

[2020-12-29 13:14] adviksinghania commented on #19
Sir kindly assign this issue to me. I'm an SWoC Participant

[2020-12-29 13:14] Tejas1510 commented on #19
Go for it @adviksinghania

[2020-12-29 13:18] sakshikhachane commented on #17
@Tejas1510 Are there restrictions on the tech stack used for creating a website?

[2020-12-29 13:20] Tejas1510 commented on #17
No, but the website should be responsive
What tech stacks are you thinking to use

[2020-12-29 13:25] sakshikhachane commented on #17
I was thinking of using a LAMP stack. I am well experienced in it.

[2020-12-29 13:27] Tejas1510 commented on #17
Go ahead with it
Just the website should be professional. good to look and we are good to go
So do you want to work @sakshikhachane

[2020-12-29 14:19] sakshikhachane commented on #17
Yes, I would definitely like to work.

[2020-12-29 14:23] Tejas1510 commented on #17
Go ahead @sakshikhachane

[2020-12-30 06:55] tripathyprateek opened #22 "[Python] DNS scan script"
This script will ask you if you want to lookup an IP address based on website or hostname or vice versa. Based on you choice you will have to input an IP or a website/hostname and it will return you results.

Can be done in Python using Sockets library.

[2020-12-30 06:59] tripathyprateek opened #23 "[Python][JS]HTML to PDF converter"
Make a script which upon running converts any HTML page to PDF and stores it on the local machine.

Can be made using the PDFKit library.

[2020-12-30 07:15] tripathyprateek opened #24 "[JS,Python] Website Status"
Script to check the running status of a website.

[2020-12-30 07:19] tripathyprateek opened #25 "[Python] Unzip files script"
Python script which helps unzip folders.

[2020-12-30 07:53] ckmganesh commented on #23
Hey, by html pages you mean the ones that are currently active on your system or just any page

[2020-12-30 08:03] Tejas1510 commented on #23
@ckmganesh Any Html page

[2020-12-30 08:38] saiharsha-22 commented on #25
@tripathyprateek and @Tejas1510  can you assign this task to me. I would like to work on this issue. I am participant of Swoc 2021

[2020-12-30 08:42] Tejas1510 commented on #25
Go ahead @saiharsha-22

[2020-12-30 08:44] saiharsha-22 commented on #25
@Tejas1510 I will start working on the issue and I will send PR on Jan 4. Thank you for assigning the issue

[2020-12-30 08:51] ckmganesh commented on #23
I would like to do this.Please assign me to this

[2020-12-30 09:02] Tejas1510 commented on #23
Go ahead @ckmganesh

[2020-12-30 09:13] hackedak opened #26 "Anime Tracker"
A script which checks for new episode release of a particular anime automatically

[2020-12-30 09:17] Tejas1510 commented on #26
@hackedak go ahead

[2020-12-30 09:39] chitranshu11 commented on #11
@Tejas1510 Hi, I would like to work on it. HTML, CSS, JS

[2020-12-30 09:40] Tejas1510 commented on #11
Go ahead @chitranshu11

[2020-12-30 09:40] saiharsha-22 commented on #11
@Tejas1510 I am working on HTML , css and js

[2020-12-30 09:42] Tejas1510 commented on #11
Oh so sorry, I missed that @saiharsha-22

[2020-12-30 09:43] Tejas1510 commented on #11
@chitranshu11 currently one person is working on that
you may try for other issues

[2020-12-30 10:30] ckmganesh commented on #23
Done.
Sent a PR

[2020-12-30 10:53] tripathyprateek opened #28 "Add Issue template and PR template"
A unified workflow for how New Issue can be created and PR are supposed to be made lacks right now.

[2020-12-30 11:59] chitranshu11 commented on #5
@Tejas1510  If available assign me the issue. Javascript

[2020-12-30 12:16] Tejas1510 commented on #5
Go ahead @chitranshu11

[2020-12-30 14:10] Purvanshsingh commented on #28
Please assign me this issue for SWOC.

[2020-12-30 14:18] Purvanshsingh commented on #22
@tripathyprateek I would like to work on this issue please assign me for SWOC.

[2020-12-30 14:21] tripathyprateek commented on #28
Sure go ahead @Purvanshsingh 🚀

[2020-12-30 14:23] tripathyprateek commented on #22
Sure @Purvanshsingh 🚀

[2020-12-30 14:25] Purvanshsingh commented on #22
I have create PR after the 5th Jan, right?

[2020-12-30 14:25] Purvanshsingh commented on #28
thanks will create PR on the 5th Jan.

[2020-12-30 15:59] ckmganesh commented on #24
Hey ,Can I do this in python

[2020-12-30 16:02] Tejas1510 commented on #24
Go Ahead @ckmganesh

[2020-12-31 20:20] chetanN02 commented on #3
@Tejas1510 can you label this issue for swoc?

[2021-01-01 06:40] pawankm21 commented on #12
Is this assigned to anyone yet? @Tejas1510  can you assign this to me?

[2021-01-01 07:07] Tejas1510 commented on #12
@amandp13 this issue is assigned already in python
But if you want to work in javascript then I can assign it to you

[2021-01-01 07:09] pawankm21 commented on #12
Yeah sure

[2021-01-01 07:32] Tejas1510 commented on #12
@pawankm21 go ahead

[2021-01-01 09:27] bjuspi commented on #26
You mean like the most recent release of a particular anime ? Does it apply to an old anime as well which has ended ?

[2021-01-01 10:02] hackedak commented on #26
No bro it's actually gonna track for currently running anime

[2021-01-01 10:04] hackedak commented on #26
Also it's not gonna track for new anime...the script will only track for release of new episodes of a particular anime.

[2021-01-01 10:33] bjuspi commented on #26
I'm confused, so the script will keep on running and will prompt out a message whenever a new episode of a predefined anime title comes out ? Is that what you meant ?

[2021-01-02 14:08] Tejas1510 commented on #17
@sakshikhachane What is the update on the work

[2021-01-02 14:12] Tejas1510 opened #29 "Corona Virus Stats"
Write a Program that gives details about total cases, total recovered, total death, today's cases, today's death, today recovered,
by taking the country name as input

[2021-01-02 14:14] Tejas1510 opened #30 "Duplicate Image Remover"
A command-line tool to remove any duplicate images found in a folder using hashing.

[2021-01-02 14:17] Tejas1510 opened #31 "Word Meaning Finder (mini dictionary)"
A program which takes English word as input and returns the meaning of the word

[2021-01-02 14:23] Tejas1510 opened #32 "ScreenShot Taker"
A python script using Tkinter and pyautogui which helps to take scrennshot

[2021-01-02 14:28] Tejas1510 opened #33 "Sorting Visualizer"
Make a sorting Visualizer in Javascript having 5,6 sorting algorithms
This a Hard issue so more points will be given to a better UI and more Functionality

[2021-01-02 14:38] adviksinghania commented on #31
Hi! I would like to work on this issue using Python. I'm an SWoC participant.

[2021-01-02 14:40] Tejas1510 commented on #31
Go ahead @adviksinghania

[2021-01-02 17:29] saiharsha-22 commented on #32
@Tejas1510 can you assign this issue to me. I would like to work on this issue.

[2021-01-02 17:31] Tejas1510 opened #34 "Video to Gif"
Convert an input video to a gif

[2021-01-02 17:32] Tejas1510 commented on #32
Go ahead @saiharsha-22

[2021-01-02 17:34] saiharsha-22 commented on #32
@Tejas1510 thank you for assigning the task. I will send the PR on Jan 5 th

[2021-01-02 17:38] Tejas1510 commented on #32
Sure

[2021-01-02 18:07] saiharsha-22 commented on #34
@Tejas1510 can you assign this task to me I would like to code in python programming language.

[2021-01-02 18:35] Tejas1510 commented on #34
Go ahead @saiharsha-22

[2021-01-03 03:33] saiharsha-22 commented on #30
@Tejas1510 I would like to work on this issue using python programming. Can you assign this issue to me.

[2021-01-03 05:17] Tejas1510 commented on #30
@saiharsha-22 you are currently having two issues assigned
So you can't take this issue

[2021-01-03 05:29] saiharsha-22 commented on #30
@Tejas1510 ok 👍

[2021-01-03 09:30] Blastoise commented on #33
@Tejas1510  Please assign this to me.

[2021-01-03 09:39] Tejas1510 commented on #33
go ahead @Blastoise
please specify the language

[2021-01-03 09:49] Blastoise commented on #33
I will be doing it in JavaScript.

[2021-01-03 09:58] Tejas1510 commented on #33
Go ahead main attention will be given to the UI part

[2021-01-03 10:11] Blastoise commented on #33
Ok sure.

[2021-01-03 14:03] abhijeet007rocks8 opened #35 "Number Guessing Game in JAVA"
The User guesses the number and CPU also guesses the number , whosoever has the less number of steps win.
I would like to work on this issue under SWoC 2021

[2021-01-03 14:05] Tejas1510 commented on #35
Please specify the language @abhijeet007rocks8

[2021-01-03 14:53] KamalAres commented on #35
Hey, can I work on this issue in Java?

[2021-01-03 14:57] Tejas1510 commented on #35
Go ahead @KamalAres

[2021-01-03 15:09] KamalAres commented on #35
Hey, how many guesses can I provide to the user. And also what is the limit of the number like 1-10 or 1-100. Can I have a description of the game?

[2021-01-03 15:22] abhijeet007rocks8 commented on #35
In JAVA

[2021-01-03 15:29] Tejas1510 commented on #35
@KamalAres the issue is created by @abhijeet007rocks8
So you may contact him for further description

[2021-01-03 15:40] KamalAres commented on #35
Hello, @abhijeet007rocks8 can you describe the game further. I can't understand the rules.

[2021-01-03 15:49] abhijeet007rocks8 commented on #26
The script should tell the next episode release date of the anime searched right??

[2021-01-03 15:52] Tejas1510 commented on #26
Yes

[2021-01-03 15:54] abhijeet007rocks8 commented on #26
I would like to work on it. Can I ??

[2021-01-03 15:55] Tejas1510 commented on #26
@abhijeet007rocks8 go ahead

[2021-01-03 19:15] abhijeet007rocks8 commented on #35
Generate a random number between a range then user guesses in predefined number of steps (n) and get points as the number of steps taken.
Also the CPU guesses the number in a particular number of steps (m).
The winner is whosoever (CPU or User) takes less number of steps to guess the random number.

[2021-01-04 06:09] sakshikhachane commented on #17
@It's going on. I have finalized some designs. Should the code contain the backend part also?

[2021-01-04 06:33] Tejas1510 commented on #17
It is upto you just make sure it has good UI and has all the functionality which I have provided above

[2021-01-04 07:09] chitranshu11 commented on #30
Hi, @Tejas1510 Can you assign this to me? JAVA

[2021-01-04 07:20] Tejas1510 commented on #30
Go ahead @chitranshu11

[2021-01-04 11:44] ckmganesh commented on #29
Hey, can we use Web scraping or have a real-time database

[2021-01-04 11:50] Tejas1510 commented on #29
Web scraping

[2021-01-04 12:08] ckmganesh commented on #29
Thanks
Can you assign me for this issue

On Mon, Jan 4, 2021, 17:20 Tejas1510 <notifications@github.com> wrote:

[2021-01-04 12:16] Tejas1510 commented on #29
@ckmganesh go ahead

[2021-01-04 18:33] amandp13 commented on #5
@Tejas1510 Can you please assign this as part of SWOC 2021, In python?

[2021-01-04 18:54] Tejas1510 commented on #5
@amandp13 currently 1 person is assigned on the issue in python if we don't get pr from him I will assign it to you
Till then you can take other issues and we also be creating more issue

[2021-01-05 06:22] BobinMathew commented on #5
@Tejas1510 hi, just for clarity; their is already a python code on this , do you want another one or a more optimized code?

[2021-01-05 06:31] Tejas1510 commented on #5
@BobinMathew we are requiring something with Tkinter with UI so I have assigned that

[2021-01-05 06:37] #29 closed

[2021-01-05 06:37] #24 closed

[2021-01-05 06:37] #23 closed

[2021-01-05 07:45] N00Bmaster2810 commented on #35
Hey @abhijeet007rocks8 , if this issue is up for grab please assign it to me under SWOC , I could try to implement in java

[2021-01-05 07:52] tripathyprateek commented on #35
Hi @N00Bmaster2810 someone else is already working on this issue. If you can work in any language other than Java, please go ahead and I will assign you this issue.

[2021-01-05 07:58] tripathyprateek commented on #28
@Purvanshsingh can you please send this PR on an urgent basis?

[2021-01-05 09:06] #19 closed

[2021-01-05 09:07] nporia commented on #18
Can I work on this issue as a participant for SWOC'21?

[2021-01-05 09:12] Tejas1510 commented on #18
Go ahead @nporia

[2021-01-05 10:20] Purvanshsingh commented on #28
Sure, Creating PR.

[2021-01-05 11:35] N00Bmaster2810 commented on #35
Yes I can try to implement it in Javascript @tripathyprateek

[2021-01-05 12:00] ayushi-get opened #50 "Basic Calculator using Gui in python"
i am a participant of SWOC and would love to work on this issue.
Thank You

[2021-01-05 12:05] Tejas1510 commented on #50
Go ahead @ayushi-get

[2021-01-05 15:57] #28 closed

[2021-01-05 17:09] abhijeet007rocks8 commented on #35
Sir the console should be console based or with GUI??

[2021-01-05 17:42] Tejas1510 commented on #35
It would be better if you have a GUI not very advanced but a simple GUI will be good

[2021-01-05 18:46] spursbyte opened #52 "Youtube Downloader Script"
A basic youtube video dowloader that dowloads video based on user input automatically. I want to work on this issue.Can you assign me?

[2021-01-05 18:50] Tejas1510 commented on #52
go ahead @spursbyte

[2021-01-05 18:54] aakashgoel2002 commented on #13
Hey, I would like to work on this issue in Java. Can you assign it to me?

[2021-01-05 18:59] Tejas1510 commented on #13
@aakashgoel2002 one person is actually working on java if we don't get pr from him we will assign it to you

[2021-01-05 19:03] aakashgoel2002 commented on #13
That's fine, but can you tell me how long will I have to wait as he was assigned this project 9 days ago and still there are no responses.

[2021-01-05 19:07] Tejas1510 commented on #13
Let's give him one more day then I will assign it you
As we only have asked to create pr after 4 jan

[2021-01-05 19:07] Tejas1510 commented on #13
Till then you can work on other issue and we will be generating more issue tomorrow

[2021-01-05 19:12] aakashgoel2002 commented on #13
Sure😊

[2021-01-05 19:47] abhijeet007rocks8 commented on #50
Can I make basic calculator in android??

[2021-01-06 04:44] pritamp17 commented on #26
@Tejas1510 sir if nobody is working on this then please assign this to me..

[2021-01-06 05:09] Tejas1510 commented on #26
currently @abhijeet007rocks8 is working in python but if you wish to work in any other language I will assign it to you

[2021-01-06 05:40] pritamp17 commented on #26
@Tejas1510  could I open a new issue named amazon price tracker?

[2021-01-06 05:51] Tejas1510 opened #54 "Github Data Fetcher"
Create a Github data fetcher that takes GitHub username as input and gives details like starts, pull request, commits and contribution as output
You can work in Javascript or React

[2021-01-06 05:59] Tejas1510 commented on #26
Go ahead @pritamp17

[2021-01-06 06:10] #20 closed

[2021-01-06 06:13] pritamp17 commented on #54
@Tejas1510 sir I would like to work on this using react-js, can you please assign this to me

[2021-01-06 06:14] Tejas1510 commented on #54
Go ahead @pritamp17
Main focus will on functionality and how good the UI looks

[2021-01-06 06:17] pritamp17 commented on #54
ok sir

[2021-01-06 06:23] iamvs-2002 commented on #32
@Tejas1510 May I add a program for the same, in Java?

[2021-01-06 06:26] Tejas1510 commented on #32
Go ahead @iamvs-2002

[2021-01-06 07:59] pritamp17 opened #58 "Amazon Price Tracker using python"
### I'm submitting a
- [x] bug report.
- [x] feature request.

### Current Behaviour:

### Expected Behaviour:

### Steps to reproduce:

### Snapshot:

### Do you want to work on this issue?

[2021-01-06 08:01] pritamp17 commented on #58
@Tejas1510 could you please assign this to me under SWOC?

[2021-01-06 08:08] Tejas1510 commented on #58
go ahead @pritamp17

[2021-01-06 08:16] amandp13 commented on #58
@Tejas1510 Assign me this issue. [SWOC 2021]

[2021-01-06 08:18] Tejas1510 commented on #58
@amandp13 which language

[2021-01-06 08:35] amandp13 commented on #58
@Tejas1510  Python

[2021-01-06 08:55] Tejas1510 commented on #50
@abhijeet007rocks8 go ahead

[2021-01-06 17:53] dollyjain51099 commented on #18
I would like to work on this issue, please assign it to me!

[2021-01-06 17:54] sanyajain26 commented on #18
I would like to work on this issue.

[2021-01-06 18:40] spursbyte opened #62 "HOSPITAL FINDER SCRIPT USING PYTHON AND GOOGLE MAPS API."
I WANT TO WORK ON IT CAN YOU ASSIGN ME.

[2021-01-06 19:35] aakashgoel2002 commented on #13
Now, Can I work on this issue?

[2021-01-06 19:38] devmalik7 commented on #50
i would like to work on this issue

[2021-01-06 19:42] devmalik7 commented on #50
I would like to work on this issue using c programing language along with graphics.

[2021-01-06 19:48] devmalik7 commented on #35
i would like to work on this issue using android

[2021-01-07 04:23] #3 closed

[2021-01-07 04:27] Tejas1510 commented on #13
@aakashgoel2002 we already have got the code in java you can check the folder of java
you will see the code

[2021-01-07 11:49] pritamp17 commented on #58
@Tejas1510 sir, I have sent PR please do a review when you can.

[2021-01-07 12:18] pritamp17 opened #66 "Building a network scanner in python"
### I'm submitting a

- [x] feature request.

### details
This script will give IP and MAC-ADDRESS of devices connected to the same network as yours.

### Do you want to work on this issue?
yes

[2021-01-07 12:18] pritamp17 commented on #66
please assign me this issue under SWOC

[2021-01-07 13:20] adviksinghania opened #67 "Caesar Cipher Encryption/Decryption"
### I'm submitting a
- [x] feature request.

### Aim
To encrypt or decrypt using Caesar cipher where the input text and the shift value will be taken as input from the user

### Do you want to work on this issue?
Yes, I plan to work on this issue using Python.
I'm an SWoC'21 participant so kindly assign this issue to me.

[2021-01-07 13:25] aakashgoel2002 commented on #13
Ok, Thanks for the info.

[2021-01-07 13:37] pritamp17 commented on #58
please close this issue, my PR has been merged

[2021-01-07 14:23] aakashgoel2002 commented on #13
But can I make this using C(Programming Language)?

[2021-01-07 14:31] Tejas1510 commented on #13
Go ahead @aakashgoel2002

[2021-01-07 14:54] aakashgoel2002 commented on #66
Please assign this issue to me.

[2021-01-07 15:01] Tejas1510 commented on #66
go ahead @pritamp17

[2021-01-07 15:01] Tejas1510 commented on #66
@aakashgoel2002 which language

[2021-01-07 15:05] Tejas1510 commented on #58
@pritamp17 the issue is still open in other language for other to work

[2021-01-07 15:06] Tejas1510 commented on #58
@amandp13 we have a script in python, if you want to work on any other issue I will assign it to you

[2021-01-07 15:16] N00Bmaster2810 commented on #66
Hey, @Tejas1510 I can try to implement this in java

[2021-01-07 15:31] Tejas1510 commented on #66
Go ahead @N00Bmaster2810

[2021-01-07 15:48] pritamp17 commented on #58
@Tejas1510 I can try implementing in javascript, please assign me.

[2021-01-07 17:01] devmalik7 commented on #35
@Tejas1510 Thank you for assigning me

[2021-01-07 17:08] Tejas1510 commented on #67
go ahead @adviksinghania

[2021-01-07 18:46] devmalik7 commented on #67
@Tejas1510 I want to work on this issue in java

[2021-01-07 18:47] aakashgoel2002 commented on #66
I will be doing this in C(Programming Language).

[2021-01-07 19:10] Nishant2907 commented on #11
Hi @Tejas1510 i have made the tic tac toe for multiplayer. Will it be counted as a Hard issue or a medium one?

[2021-01-08 06:45] #13 closed

[2021-01-08 07:13] Rahul555-droid opened #71 "Python script to convert csv file to a table in markdown."
### I'm submitting a
- [x] feature request.

### Do you want to work on this issue?
Yes I want to work on this for SWOC.
It will take a csv file as an input and convert it into a markdown table in a .md file

[2021-01-08 13:40] pritamp17 commented on #54
@Tejas1510 I have sent PR for this issue, please review it when you can

[2021-01-08 13:58] nporia commented on #18
Sir , I have created few logos. Please have a look.
![image](https://user-images.githubusercontent.com/20817990/104023429-ad329280-51e7-11eb-9932-68ab8f8071d8.png)

[2021-01-08 14:01] nporia commented on #18
Sir , I have created few logos. Please have a look.
![image](https://user-images.githubusercontent.com/20817990/104023562-db17d700-51e7-11eb-8313-8adf09fc52cd.png)
![image](https://user-images.githubusercontent.com/20817990/104023582-e1a64e80-51e7-11eb-9966-7f9769d11ffd.png)
![image](https://user-images.githubusercontent.com/20817990/104023601-e965f300-51e7-11eb-803c-cf60d3ae3a2a.png)
![image](htt

[2021-01-08 14:03] nporia commented on #18
![image](https://user-images.githubusercontent.com/20817990/104023863-46fa3f80-51e8-11eb-901f-7053ac607ad4.png)

[2021-01-08 14:05] nporia commented on #17
I would like to work on it too.

[2021-01-08 20:30] #32 closed

[2021-01-09 07:07] Ayush7614 opened #76 "Drawing App in javascript"
### I'm submitting a
- [x] feature request.

# Aim
This is drawing App that made of Javascript

[2021-01-09 07:08] Ayush7614 commented on #76
@Tejas1510 plss assign me this issue under swoc

[2021-01-09 07:08] Ayush7614 commented on #76
It is made of HTML, CSS, JS

[2021-01-09 08:15] sayandip18 opened #77 "Instagram photo downloader"
### I'm submitting a
* [x] feature request.

### Proposed feature

A simple Python script to download photos of post and profile pictures taking the url as input.

### Do you want to work on this issue?

Yes, as a part of SWoC 2021.

[2021-01-09 09:36] #35 closed

[2021-01-09 11:26] pritamp17 commented on #62
@tripathyprateek I would like to work on this app in react-js, could you assign me this?

[2021-01-09 13:58] devmalik7 commented on #76
I would like to work on this issue using android(java)

[2021-01-09 14:35] Ayush7614 commented on #76
@Tejas1510 sir plss assign me this issue from javascript under swoc

[2021-01-09 15:04] Tejas1510 commented on #71
Go ahead @Rahul555-droid

[2021-01-09 15:07] Tejas1510 opened #79 "Add All Contributors in Readme File"

[2021-01-09 15:33] pritamp17 commented on #76
@Tejas1510 please assign me this, I will code it in react-js

[2021-01-09 18:47] Ayush7614 commented on #76
@Tejas1510 sir #80 this is pull request for Drawing app using HTML CSS JS plss review it

[2021-01-09 19:26] Ayush7614 opened #81 "Notes App in Javascript"
**Aim.**
This is Notes App that made of Javascript

**Details**
It made of HTML CSS JS We have write the notes in it and add it simply

[2021-01-09 19:27] Ayush7614 commented on #81
@Tejas1510 sir plss assign me this issue

[2021-01-10 03:26] abhay313 commented on #79
Please assign this to me

[2021-01-10 03:28] abhay313 commented on #79
Do we have to make another section for contribution or combine with project admin please clarify?

[2021-01-10 05:21] Ayush7614 opened #82 "Creating a spiral star using Python"
**Is your feature request related to a problem? Please describe.**

Creating a spiral star using Python

**Describe the solution you'd like**

Spiral star made of python using python turtle module

[2021-01-10 05:22] Ayush7614 commented on #82
@Tejas1510 sir plss assign me this issue under swoc

[2021-01-10 06:18] tripathyprateek commented on #82
I am not very sure how this suits our theme of gathering Scripts at one place.

[2021-01-10 09:12] devmalik7 commented on #67
@Tejas1510 This issue got closed even before I have submitted my code. please reopen this I have to submit.

[2021-01-10 09:46] snake-arch commented on #52
Hello is this still up for grabs for SWOC21 participants if yes I would like to be assigned to it

[2021-01-10 10:24] a-k-r-a-k-r opened #83 "MorseCode Generator GUI"
**Under SWOC**

**Problem**
Found that the repo of python contains a morsecodegenerator. But it is CLI based and not so user friendly (atleast according to me)

**Solution**
I would like to work on this issue either by making a completely different folder for the GUI based Morse code generator or by adding GUI features to the existing one. (I prefer to make it as a separate project under python fo

[2021-01-10 13:47] Ayush7614 commented on #81
@Tejas1510 sir plss assign me this issue

[2021-01-10 16:55] Ayush7614 commented on #82
@Tejas1510 sir plss assign me this issue

[2021-01-10 17:19] Tejas1510 commented on #52
@snake-arch which language

[2021-01-10 17:24] snake-arch commented on #52
I can make it using python with a Tkinter GUI

[2021-01-10 17:49] atarax665 commented on #82
I agree with @tripathyprateek , I don't think this a valid issue according to our code base.

[2021-01-10 18:03] atarax665 opened #85 "Add Issue Labeler [Github Action]"
## Is your feature request related to a problem?

With so many new issues kicking in everyday it will get harder for the project maintainer/ moderators to label each and every issue once the repository grows.

## Describe the solution you'd like

You can come up with a github action to label all the issues with a general set of labels or either  based on the keywords used in the issue description

[2021-01-10 18:33] Tejas1510 commented on #52
Go ahead @snake-arch

[2021-01-10 18:34] Tejas1510 commented on #85
That seems to be a great issue
You can work on this @atarax665

[2021-01-10 19:08] Rahul555-droid opened #87 "Script to generate geolocation of a given IP address"
**Is your feature request related to a problem? Please describe.**
For an input IP address this script will generate the geographical location of the ipaddress.

**Describe the solution you'd like**
I am thinking of using an API or a python library for this,

**Describe alternatives you've considered**
This script would be  a one shot answer to get an IPaddress otherwise one will have to google a

[2021-01-10 19:10] Ayush7614 commented on #81
@Tejas1510 sir this is #86 pull request for this issue plss review it

[2021-01-10 19:12] Ayush7614 commented on #82
yess sir if it is valid issue then assigned me if not then close it

[2021-01-10 19:43] #82 closed

[2021-01-10 22:53] adviksinghania commented on #87
Hi, I would like to work on this issue. I'm an SWoC'21 participant

[2021-01-11 05:34] Rahul555-droid commented on #87
Hi sorry I missed writing that I wantes to work on this issue 😅.
I am also an SWOC participant

If I could get this assigned to me for swoc it would be great @Tejas1510

[2021-01-11 05:43] Tejas1510 commented on #87
@Rahul555-droid mention the language

[2021-01-11 05:45] Rahul555-droid commented on #87
@Tejas1510 python

[2021-01-11 05:47] Tejas1510 commented on #87
@adviksinghania which language

[2021-01-11 05:50] adviksinghania commented on #87
I was planning to use Python too.

[2021-01-11 05:59] Tejas1510 commented on #87
@adviksinghania you can go for any other language since python is assigned

[2021-01-11 06:40] adviksinghania commented on #87
No problem. I'll look for more issues.

[2021-01-11 08:32] Ayush7614 opened #89 "Theme clock in Javascript"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

*Aim*
Build a theme clock with javascript

[2021-01-11 08:32] Ayush7614 commented on #89
@Tejas1510 plss review it and assign me this issue

[2021-01-11 08:35] Ayush7614 opened #90 "Insect Catch Game in Javascript"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Insect Catch Game with Javascript

[2021-01-11 08:35] Ayush7614 commented on #90
@Tejas1510 plss assign me this issue

[2021-01-11 08:37] Ayush7614 opened #91 "Todo List in Javsscript"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Todo List with Javascript

[2021-01-11 08:37] Ayush7614 commented on #91
@Tejas1510 plss assign me this issue

[2021-01-11 11:16] tripathyprateek commented on #90
@Ayush7614 can you explain how would adding this be beneficial to this project?

[2021-01-11 12:46] Ayush7614 commented on #90
@tripathyprateek bro this is just a game like tic tac toe in javascript

[2021-01-11 17:46] aakashgoel2002 commented on #83
Can I also work over this issue for creating a Morse Code Generator in Java.

[2021-01-11 17:50] Tejas1510 commented on #91
@Ayush7614 go ahead

[2021-01-11 20:19] aakashgoel2002 opened #93 "Complete Information Finder with the help of IP address"
### I'm submitting a
- [x] feature request.

### Proposed Feature:
A Program which will take IP address as input and will give all the details related to it like Country code, City name, ISP(Internet Service Provider), Latitude, Longitude, ZIP Code, TimeZone, Internet Speed, Mobile carrier brand, etc. as Output.

### Do you want to work on this issue?
Yes, I want to work over this issue in JAVA, u

[2021-01-11 20:20] devmalik7 commented on #93
I would like to work on this issue in python.

[2021-01-11 20:31] tripathyprateek commented on #93
Okay cool. Assigning both of you.

[2021-01-11 20:34] tripathyprateek commented on #90
I would really appreciate if you could make the game, and have a program/script which could solve the game.That would be really great.

[2021-01-11 20:35] tripathyprateek commented on #89
How will a Theme clock help in this repository theme of adding sripts. A small sugegstion here, you can make a command which shows the time on any command line when called.

[2021-01-11 20:38] tripathyprateek commented on #85
yeah. Just add a [label] tag inside .github/issue_template and that would be generated automatically when a issue is created. Or another thing we can do is add issue template with various languages, and the person who create the issue can add tags later.

[2021-01-11 20:39] tripathyprateek commented on #83
okay @aakashgoel2002 . Assigning you.

[2021-01-11 20:40] tripathyprateek commented on #79
I would say @abhay313 keep the project admins different and contributors below them so that people get to know who's maintaining the project. How does it sound.

[2021-01-11 20:42] tripathyprateek commented on #67
@devmalik7 haha sorry. I didnt realise the issue got closed when I merged a PR for this in another language. Are you still working on it? Looks like you closed your PR before it got merged.

[2021-01-11 20:43] tripathyprateek commented on #66
@N00Bmaster2810 @aakashgoel2002 @pritamp17 any updates  on this yet?

[2021-01-11 20:44] #54 closed

[2021-01-11 20:45] #34 closed

[2021-01-11 20:45] #25 closed

[2021-01-11 20:48] tripathyprateek commented on #17
Hey @nporia get in touch with @sakshikhachane about you and follow up with her as she is also working on this.Assigning you as well.

[2021-01-11 20:50] tripathyprateek commented on #18
hey @nporia can you open a PR for this, and make a new folder names assets and put all the logo designs over there. Will get them merged and choose one which looks appropriate. Great work btw 🤩 . Thank you

[2021-01-11 20:51] tripathyprateek commented on #22
@Purvanshsingh if I remember you did send a PR for this right? Closing the issue for now.

[2021-01-11 20:51] #22 closed

[2021-01-11 20:53] tripathyprateek commented on #11
It will be counted as a Medium issue but depending on the complexity I can give it a  Hard tag as well. Looking forward to your PR.

[2021-01-11 20:53] Purvanshsingh commented on #22
@tripathyprateek Why closing it?

[2021-01-11 20:54] tripathyprateek commented on #6
@Blastoise any progress? Would ideally like you to get this done in 7-10 days

[2021-01-11 20:54] #4 closed

[2021-01-11 20:54] #5 closed

[2021-01-11 20:54] aakashgoel2002 commented on #66
Yeah, I have almost completed everything will be creating a PR shortly.

[2021-01-11 20:56] tripathyprateek commented on #81
Closing as it is referenced to a PR

[2021-01-11 20:56] #81 closed

[2021-01-11 20:57] tripathyprateek commented on #50
Closing as its already solved.

[2021-01-11 20:57] #50 closed

[2021-01-11 20:57] tripathyprateek commented on #33
@Blastoise whats the progress on this?

[2021-01-11 20:58] tripathyprateek commented on #31
Closing with #47

[2021-01-11 20:58] #31 closed

[2021-01-11 20:58] tripathyprateek commented on #12
@amandp13 any progress?

[2021-01-11 21:34] Nishant2907 opened #95 "Calculator GUI with all basic features"
**Is your feature request related to a problem? Please describe.**
- There is a file inside the python folder named, basic GUI calculator. But the first issue is that it does not has a .py extension.
- Another thing is that the GUI is very simple and it does not look as a calculator.

**Describe the solution you'd like**
- to make a calculator with GUI same as the basic calculator we can find anyw

[2021-01-11 22:27] nporia commented on #18
@tripathyprateek
I opened a pr for the same and as there was already a folder named assets i added the logos in that folder only.
And according to me this logo seems the best.
![image](https://user-images.githubusercontent.com/20817990/104245076-9dd27400-5489-11eb-9558-d594527753c4.png)
Also Thank you sir.

[2021-01-12 01:16] pritamp17 commented on #66
@aakashgoel2002 my PR has already been merged.

[2021-01-12 02:55] Blastoise commented on #33
It's a big project and I am writing on it.

[2021-01-12 02:58] Blastoise commented on #6
You can take this issue if you want, I am doing it using React. I was busy with Sorting Visualizer.

[2021-01-12 03:32] Ayush7614 commented on #90
Yess bro so plss assign me this issue i will definately give my good

[2021-01-12 08:54] Detailer commented on #52
Still up for SWOC 21? can help with @snake-arch, in adding dash-stream functionality in pyhton.

[2021-01-12 10:17] #71 closed

[2021-01-12 10:18] #66 closed

[2021-01-12 10:18] #76 closed

[2021-01-12 11:32] pritamp17 commented on #91
@Tejas1510 could you assign me this in react js?

[2021-01-12 13:52] Rahul555-droid commented on #71
Hi @Tejas1510 there is an issue in readme file.

The URL for image files are incomplete.
I would want to change that.

[2021-01-12 13:56] Rahul555-droid opened #100 "Bug in the readme file of convert_csv_to_markdown_table"
### I'm submitting a
- [x] bug report.

### Current Behaviour:
The readme file doesn't show the images.
I didn't update it right and the PR got merged.

### Expected Behaviour:
The readme file should show output images,

### Steps to reproduce:

Readme file here.
for https://github.com/Tejas1510/Hacking-Scripts/tree/main/Python/convert_csv_to_markdown_table

### Do you want to work on this issue?

[2021-01-12 15:05] tripathyprateek commented on #100
please send a PR @Rahul555-droid

[2021-01-12 15:07] tripathyprateek commented on #18
Cool. This is done. Upto @Tejas1510 to update the Logo for this Project. Closing this Issue for now as its done

[2021-01-12 15:07] #18 closed

[2021-01-12 15:10] tripathyprateek commented on #30
This is done right? Closing @Tejas1510

[2021-01-12 15:10] #30 closed

[2021-01-12 15:11] Tejas1510 commented on #18
Sure @tripathyprateek

[2021-01-12 16:43] #100 closed

[2021-01-12 21:07] #87 closed

[2021-01-12 21:12] tripathyprateek commented on #6
Okay sure. No problem. I was just checking up with this. Please take your time to do this. Looking forward to your PR soon 🎈

[2021-01-12 21:12] tripathyprateek commented on #11
This is now done I guess. Closing Issue

[2021-01-12 21:12] #11 closed

[2021-01-12 21:13] tripathyprateek commented on #90
Cool. You are working on 2 issues now. Looking forward to your PRs 🎈

[2021-01-12 21:15] tripathyprateek commented on #91
@Tejas1510 assigning you for React Js

[2021-01-12 21:16] tripathyprateek commented on #95
This issue is duplicated. This was already done by someone else if I remember @Nishant2907

[2021-01-12 21:21] tripathyprateek commented on #62
@pritamp17 sorry. This one got buried in the notifications. Would you try for any other language than Python. I will get you assigned then

[2021-01-12 21:22] tripathyprateek commented on #58
@pritamp17 I guess you have a lot of issues assigned already. Lets get some PR merged and then get back to this.

[2021-01-12 21:23] tripathyprateek commented on #52
Sure @Detailer. get in touch with him over Slack

[2021-01-12 21:25] Nishant2907 commented on #95
Yes the issue is there, but i saw its UI. and want to change it to a better version which I bet you might like

[2021-01-13 02:36] pritamp17 commented on #58
Ok

[2021-01-13 03:40] Blastoise commented on #6
@tripathyprateek Thanks, I am planning to a make big project out of it and that's why it will take time.

[2021-01-13 06:21] pritamp17 commented on #91
@tripathyprateek
![Screenshot 2021-01-13 114901](https://user-images.githubusercontent.com/65030567/104413974-694bde80-5595-11eb-9c1d-879e1063e81d.png)
could you please help me with this?

[2021-01-13 06:25] pritamp17 commented on #62
yes sir I can code it in React-js.

[2021-01-13 06:26] Ayush7614 opened #106 "Dice Rolling Simulator using Python-random"
* Aim
Dice Rolling Simulator using Python-random

* Details
In this Script we will create a classic rolling dice simulator with the help of basic Python knowledge. Here we will be using the random module since we randomize the dice simulator for random outputs.

[2021-01-13 10:46] aakashgoel2002 commented on #106
Can I work over this issue in Android?

[2021-01-13 14:36] amandp13 opened #108 "SCRIPT TO EXTRACT IMAGE METADATA"
- A Python Script to extract an image metadata from an Image.

[2021-01-13 14:37] amandp13 opened #109 "SCRIPT TO EXTRACT IMAGE METADATA"
- A Python Script to extract an image metadata from an Image.

[2021-01-13 14:37] #109 closed

[2021-01-13 15:29] devmalik7 commented on #106
I would like to work on this issue in python.

[2021-01-13 15:32] Ayush7614 commented on #106
@devmalik7 i am already first request to owner for python

[2021-01-13 15:33] devmalik7 commented on #91
I would like to work on this issue in android using java

[2021-01-13 15:35] Ayush7614 commented on #90
#107 this is pull for this issue plss review it @tripathyprateek @Tejas1510 sir

[2021-01-13 15:37] devmalik7 commented on #106
@Ayush7614  no problem

[2021-01-13 15:41] devmalik7 commented on #77
I would like to work on this issue in android

[2021-01-13 16:08] devmalik7 commented on #106
Can I work on this issue in java

[2021-01-13 16:22] aakashgoel2002 commented on #108
Can I work over this issue in Android?

[2021-01-13 16:37] Tejas1510 commented on #17
@sakshikhachane what about the progress
We can allot a particular PR for 7 days
but since you have said you were facing some issues so we extended the period but you to come up with something

[2021-01-13 16:52] Tejas1510 commented on #108
@aakashgoel2002 and @amandp13 go ahead

[2021-01-13 16:54] Tejas1510 commented on #79
@abhay313 what is the progress

[2021-01-13 16:55] #95 closed

[2021-01-13 17:02] abhay313 commented on #79
Work on progress I will raise PR by tomorrow

[2021-01-13 18:08] atarax665 commented on #85
I have created this issue for other contributors. I hope someone with take this up soon.

[2021-01-13 18:10] Nishant2907 commented on #50
Hi. i wanted to update the ui.

[2021-01-13 18:11] atarax665 commented on #85
@tripathyprateek Yeah, and there are many issue labelers available that use Regex to label issues. I personally find them more effective then others.

[2021-01-13 20:29] devmalik7 opened #112 "Android currency converter"
# I'm submitting a
 [] feature request.

****Proposed Feature:****
An android app that will Convert between different currency formats.

****Do you want to work on this issue?****

Yes, I want to work over this issue in Android, under SWoC 2021

[2021-01-14 05:56] sakshikhachane commented on #17
@nporia Please ping me on Discord : SAKSHI#0042 for distribution on task.

[2021-01-14 06:42] #79 closed

[2021-01-14 12:59] kshitij-srivastav opened #114 "Random Password Generator Android App(JAVA)"
**Is your feature request related to a problem? Please describe.**
There was a RandomPasswordGenrator program in the JAVA folder. I would like to make an Android app for the same. It would be a nice example for a person who has just begun with android development using JAVA, this would tell him how t use knowledge of JAVA in Android

**Describe the solution you'd like**
This would be an Android ap

[2021-01-14 15:14] Ayush7614 commented on #91
First plss close this issue via pull that i made and @pritamp17 made my pull is #99

[2021-01-14 15:28] Adarsh88 commented on #112
Can I also work in this project ?

[2021-01-14 15:31] tripathyprateek commented on #52
@Detailer here you go

[2021-01-14 17:49] #52 closed

[2021-01-14 18:27] aakashgoel2002 commented on #112
Can I work on this issue in Java?

[2021-01-14 18:29] pawankm21 commented on #89
can you assign this issue to me?

[2021-01-14 19:47] N00Bmaster2810 commented on #6
@tripathyprateek  can I implement it using android?

[2021-01-15 03:18] pritamp17 commented on #112
@Tejas1510 please assign me this in react-js

[2021-01-15 06:06] Ayush7614 commented on #91
Plss close this issue

[2021-01-15 06:35] pritamp17 commented on #106
Please assign me this in Javascript...

[2021-01-15 07:51] aakashgoel2002 commented on #106
@Tejas1510 Can i?

[2021-01-15 08:45] Tejas1510 commented on #6
go ahead @N00Bmaster2810

[2021-01-15 13:32] Ayush7614 commented on #91
@Tejas1510 plsss close this issuue via pull #99

[2021-01-15 13:33] #90 closed

[2021-01-15 13:41] Ayush7614 commented on #90
@Tejas1510 closed this also from your side plss

[2021-01-15 15:06] nporia commented on #17
done

[2021-01-15 17:18] amandp13 commented on #108
@Tejas1510 #120 Added...Do Review.

[2021-01-16 04:55] #83 closed

[2021-01-16 04:56] #6 closed

[2021-01-16 05:43] #93 closed

[2021-01-16 07:51] Sloth-Panda opened #123 "welcome bot integration"
Hello there,
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of SWOC.
For reference, kindly check out: https://github.com/apps/welcome

[2021-01-16 11:45] raman08 commented on #17
I would also like to work on this issue.

[2021-01-16 14:30] aakashgoel2002 commented on #106
@Tejas1510 @tripathyprateek Can I work over this issue in Android.

[2021-01-16 14:31] aakashgoel2002 commented on #112
@Tejas1510 @tripathyprateek Can I work on this issue in Java?

[2021-01-16 14:47] tripathyprateek commented on #123
Go ahead @Sloth-Panda

[2021-01-17 16:17] #123 closed

[2021-01-17 16:20] Tejas1510 opened #125 "Email Sender Bot"
A script that takes a message to send and a list of all emails and send the corresponding mail to them.

[2021-01-17 16:32] N00Bmaster2810 commented on #125
I can try to work on this using nodejs

[2021-01-17 16:37] Tejas1510 commented on #125
Go ahead @N00Bmaster2810

[2021-01-17 16:37] Tejas1510 commented on #125
Just Create a folder named Nodejs and add your code there

[2021-01-17 16:58] N00Bmaster2810 commented on #125
ok sir

[2021-01-17 17:15] Tejas1510 opened #126 "CodeForces Data Scrapper"
The script takes code forces username as input and gives data such as question solved according to tags like 800,900,... rating and visualize it using reactjs chart

[2021-01-17 17:46] sakshikhachane commented on #17
@Tejas1510 I have created a PR. Please review. I also want to add that this website is created solely by me.

[2021-01-17 18:08] #17 closed

[2021-01-17 18:44] Tejas1510 opened #128 "[Enhancement] Add language logos"
![image](https://user-images.githubusercontent.com/64543913/104852607-f5595f80-5921-11eb-8ae4-8a15a22e2e9c.png)

Currently, the cards are not having associated logos of the languages

store all the logos in Hacking-Scripts\Project Website\assets\img folder and use where ever required

[2021-01-17 18:54] sakshikhachane commented on #128
@Tejas1510 I would like to work on this issue.

[2021-01-17 20:07] atarax665 commented on #128
Go ahead @sakshikhachane

[2021-01-17 20:19] aryangulati opened #129 "PDF Reader Using Python"
**Is your feature request related to a problem? Please describe.**
Reading pdf files and speaking out content in pdf files !!

**Describe the solution you'd like**
I will use some cool PyPI to do this and also explain for further contribution !!

[2021-01-18 05:24] Tejas1510 commented on #129
Go ahead @aryangulati

[2021-01-18 05:26] Tejas1510 commented on #106
@pritamp17 go ahead in javascript

[2021-01-18 05:26] Tejas1510 commented on #106
@aakashgoel2002 go ahead in android

[2021-01-18 06:07] Tejas1510 opened #133 "Find Devices like Mobile and Computer Connected to user WIFI"
This issue is only open to JWOC participants

[2021-01-18 06:09] Tejas1510 opened #134 "BMI Calculator"
A python script that takes height and weight as input and calculates the BMI
A simple script -> easy
Script with proper UI -> medium

[2021-01-18 06:12] Tejas1510 opened #135 "Birthday Notifier"
A script that stores all birthday date and send a message to the user reminding him about the specified date

[2021-01-18 06:14] Tejas1510 opened #136 "Free Disk Space"
A simple python script to find the free disk space available

[2021-01-18 06:15] Tejas1510 opened #137 "ShutDown or Restart System"
Python Program to Shutdown/Restart your system

[2021-01-18 07:06] pritamp17 commented on #126
@Tejas1510 i want to work on it in react-js, could you assign me this?

[2021-01-18 08:03] Ayush7614 commented on #106
#132 this is pull for this issue in python plss review it

[2021-01-18 08:05] Ayush7614 commented on #106
#132 this is pull for this issue in python plss review it

[2021-01-18 09:38] Sloth-Panda commented on #137
hey, would like to work on this issue

[2021-01-18 09:39] Sloth-Panda commented on #136
I would like to work on this issue please assign me

[2021-01-18 09:48] Sloth-Panda opened #138 "Making an app like moment extension" on mac systems"
this basically will contain a dynamic background and that background will be changing as per morning, evening and night and also will be also having person's name and what he/she wants to do for the day

[2021-01-18 09:49] Sloth-Panda commented on #134
Would like to work on this

[2021-01-18 10:13] Tejas1510 commented on #137
This issue is opened to only JWOC winter of code Participants

[2021-01-18 10:13] Tejas1510 commented on #134
This issue is opened to only JWOC winter of code Participants

[2021-01-18 10:13] Tejas1510 commented on #138
Go ahead @Sloth-Panda

[2021-01-18 10:33] Sloth-Panda commented on #134
oh okay but I found this project under the list of swoc projects so asked

[2021-01-18 10:34] Sloth-Panda commented on #138
can you add swoc to it ? and for tags html, css, js , bootstrap will be more relevant

[2021-01-18 11:23] HaripriyaB commented on #77
I would like to work on this Language : Python

[2021-01-18 12:51] Tejas1510 commented on #134
Please have a look at the corresponding label it will help to distinguish

[2021-01-18 13:01] Tejas1510 commented on #33
@Blastoise it has been 15 days since the assignment of the issue
I know it is a big issue but still, we have to follow the rule lead by the organizer
Please complete in next few days

[2021-01-18 13:08] #138 closed

[2021-01-18 13:24] Sloth-Panda opened #140 "A vanilla Js music player"
it's a music player that will play sound as you click on it and will also show animations as you click on any of the tiles that play the music

[2021-01-18 13:38] pritamp17 commented on #125
@Tejas1510 I can write this script in python using SMTP lib, please assign me in python

[2021-01-18 13:51] Ayush7614 opened #141 "Magic-Pen in Python"
* Aim *

Magic Pen in Python

*Details*

Ever dreamed of drawing stuff on the screen just by waving your pen in the air...Well that is exactly what Magic Pen does using Python(OpenCV and NumPy).

[2021-01-18 13:52] Ayush7614 commented on #141
This issue is under swoc 21

[2021-01-18 13:56] Ayush7614 opened #142 "Desktop_notifier"
**Aim**
Desktop_notifier

**Details**
A desktop notifier app runs on your system and it will be used to send you notifications after every specific interval of time.

This notifier will gives news at a particular time interval.

[2021-01-18 13:57] Ayush7614 commented on #142
This issue is under swoc 21

[2021-01-18 14:09] Tejas1510 commented on #141
Great issue @Ayush7614
Go ahead @Ayush7614

[2021-01-18 14:10] Tejas1510 commented on #140
Go ahead @Sloth-Panda

[2021-01-18 15:01] atarax665 commented on #142
@Ayush7614 Please also describe your approach to make this app and the language or frame work you would be using. It will help maintainers to apply appropriate labels and get a better idea of your proposed issue.

[2021-01-18 15:37] atarax665 opened #143 "[Documentation] Fixing READMEs of Python Folder"
## Minor Documentation Fixes

In python folder few READMEs have broken links while some need to be refactored. Here is the list of such :

- [ ] [Restructure README and link the screenshots](https://github.com/Tejas1510/Hacking-Scripts/blob/main/Python/Amazon_Price_Tracker/readme.md)
- [ ] [Fix broken image links](https://github.com/Tejas1510/Hacking-Scripts/blob/main/Python/Certificate_Generator/

[2021-01-18 15:57] Tejas1510 commented on #143
@atarax665 Awesome Work
Thanks for bringing this to notice
Thia will help us to scale our project more

[2021-01-18 16:01] aryangulati commented on #129
@Tejas1510 please run the code I added for pdf reader in your system if any problem occurs let me know !!
Thank you

[2021-01-18 16:32] Tejas1510 opened #145 "Readme Format for Script"
# Title of the Project

## Introduction
[code]
## Third-Party Libraries Required :

All library required before running the script

## How to install the above Library
[code]

For Javascript or React, you can add the corresponding Dependencies

## How to use it :

All the details on how to use the script in a detailed format

## Output

### Input Image

![endpoint](https://github.com/Tejas1510/Rot

[2021-01-18 16:53] N00Bmaster2810 commented on #125
@Tejas1510 , we have to only make the script or make a frontend too?

[2021-01-18 17:32] pritamp17 commented on #106
@Tejas1510 sir please  review my PR in javascript

[2021-01-18 19:42] tripathyprateek commented on #112
sure @pritamp17 @aakashgoel2002

[2021-01-18 20:47] Sloth-Panda opened #150 "calculator app"
This will be a simple calculator made using javascript

[2021-01-18 20:49] Sloth-Panda opened #151 "Rock, paper, scissors game"
Will build a rock, paper, scissors game using js

[2021-01-19 05:35] Tejas1510 commented on #91
@devmalik7 go-ahead

[2021-01-19 05:36] Tejas1510 commented on #91
@Ayush7614 why are you so much interested in closing this issue
Some participants can also work on it on other language

[2021-01-19 05:37] Tejas1510 commented on #62
Go ahead @pritamp17

[2021-01-19 05:39] Tejas1510 commented on #150
This issue is already solved

[2021-01-19 05:39] #150 closed

[2021-01-19 06:54] #106 closed

[2021-01-19 06:56] aryangulati commented on #129
Thank you @Tejas1510 for Merging and Reviewing PR :)

[2021-01-19 11:45] Ayush7614 commented on #142
Okk So
* Description *
A desktop notifier app runs on your system and it will be used to send you notifications after every specific interval of time.

This notifier will gives news at a particular time interval.

Shows the news on the desktop at the specific interval of time.

*Language*

 Python

Python Modules

[2021-01-19 11:45] Ayush7614 commented on #142
@atarax665 @Tejas1510 plss review it  and assign me if it is valid

[2021-01-19 13:03] atarax665 commented on #151
@Sloth-Panda Go ahead

[2021-01-19 14:12] Ayush7614 commented on #89
@tejas sir plss assign me this issue under swoc

[2021-01-19 15:55] slashharsh commented on #135
I would like to work on this issue please assign me.

[2021-01-19 15:59] slashharsh opened #152 "Automate Login Using Python"
Automating Websites such as Facebook Login Using Python

[2021-01-19 16:57] Dutta-SD commented on #136
Hello, I would like to work on this task @Tejas1510 . I would like to develop the script in Python 3.

[2021-01-19 16:59] Dutta-SD commented on #134
Hello @Tejas1510. I am Sandip, a JWOC participant. I would like to work on this in Tkinter and Python3.

[2021-01-19 17:18] syedmazharaliraza commented on #128
If the issue is open, can I work on this and get assigned?

[2021-01-19 17:59] #129 closed

[2021-01-19 17:59] Tejas1510 commented on #152
Go ahead @slashharsh

[2021-01-19 17:59] Tejas1510 commented on #152
are you a swoc participant

[2021-01-19 18:00] Tejas1510 commented on #142
@Ayush7614 go ahead

[2021-01-19 18:05] Tejas1510 commented on #134
Go ahead @Dutta-SD

[2021-01-19 18:06] #128 closed

[2021-01-19 18:06] Tejas1510 commented on #136
@Dutta-SD go ahead

[2021-01-19 18:07] slashharsh commented on #152
yes, I am.

[2021-01-19 20:18] Sloth-Panda opened #154 "QR code generator web app"
This will web app will generate qr code as per the info that a person provides @Tejas1510

[2021-01-19 20:31] Sloth-Panda opened #155 "discord bot creation"
will like to create a discord bot using python

[2021-01-19 20:38] tripathyprateek opened #156 "Check the temperature of CPU using Python"
**Is your feature request related to a problem? Please describe.**
Title

**Describe the solution you'd like**
Try using Psutil for a solution

[2021-01-19 20:45] tripathyprateek opened #157 "Markdown Previewer"
**Is your feature request related to a problem? Please describe.**
A programme which previews what you write in a Markdown Format

**Describe the solution you'd like**
Can use ReactJs with MarkedJs or Showdown Js for solving this.

[2021-01-19 22:22] noob-26 commented on #154
Hello,  I want to work on this issue. I know some React and JS. Can you please assign me this issue?

[2021-01-19 22:38] Sloth-Panda commented on #154
@noob-26  sorry bro, I have created this issue as I wanted to make this web app so you can try something else

[2021-01-20 05:23] #140 closed

[2021-01-20 05:25] Tejas1510 commented on #135
are you a jwoc participant

[2021-01-20 05:27] #151 closed

[2021-01-20 06:21] noob-26 commented on #154
Sure, not a problem. But I would definitely love to work on this project.

[2021-01-20 06:36] Blastoise commented on #33
@Tejas1510 I am really busy so you can unassign me so that someone else can work on this issue.

[2021-01-20 07:02] Tejas1510 commented on #154
@Sloth-Panda which language

[2021-01-20 07:03] Tejas1510 commented on #154
@noob-26 which language

[2021-01-20 07:06] Sloth-Panda commented on #154
@Tejas1510  js and python  I can do it in both but generally  prefer js

[2021-01-20 07:25] chitranshu11 commented on #135
Hi @Tejas1510 I would like to work on it. Android

[2021-01-20 07:58] Tejas1510 commented on #154
Go ahead @Sloth-Panda in javascript

[2021-01-20 07:58] Tejas1510 commented on #154
@noob-26 you can work in react

[2021-01-20 08:55] Ayush7614 commented on #142
#158 this is pull for this issue plss review it

[2021-01-20 09:17] Ayush7614 opened #159 "Automatic Birthday Wisher in JAVASCRIPT"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Aim**
Automatic Birthday Wisher in  JAVASCRIPT

**Details**
This is Automatic Birthday Wisher in Javascript
web stack
HTML
CSS
JS
JSON

This are the web stack that used

[2021-01-20 09:18] Ayush7614 commented on #159
Plss assign me this issue under JWOC 2021

[2021-01-20 09:24] Zugarfot commented on #143
Hey, I would like to help with these issues.

[2021-01-20 09:26] Ayush7614 opened #160 "WhatsApp_Message_Automation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Aim**
WhatsApp_Message_Automation

**Details**
This script can be used to send messages to your contacts on WhatsApp from your Command line!!

[2021-01-20 09:26] Ayush7614 commented on #160
This issue is under JWOC so plss assign me

[2021-01-20 10:36] sakshikhachane commented on #128
@Tejas1510 Why this issue is closed?

[2021-01-20 11:54] uttu2 commented on #133
I would like to contribute to this issue.

[2021-01-20 12:41] Tejas1510 commented on #133
Go ahead @uttu2

[2021-01-20 12:42] Tejas1510 commented on #159
this issue is already created

[2021-01-20 12:42] #159 closed

[2021-01-20 12:43] Tejas1510 commented on #135
@chitranshu11 are you a jwoc candidate

[2021-01-20 12:44] Tejas1510 commented on #143
go ahead @Zugarfot

[2021-01-20 12:48] Tejas1510 commented on #125
@pritamp17 go ahead

[2021-01-20 12:48] Tejas1510 commented on #125
@N00Bmaster2810 Frontend is required as it is a medium level isue

[2021-01-20 12:50] Tejas1510 commented on #160
go ahead @Ayush7614

[2021-01-20 12:57] Ayush7614 commented on #135
@Tejas1510 plss assigned me in html css js and under jwoc

[2021-01-20 13:53] slashharsh commented on #135
No!

[2021-01-20 15:16] chitranshu11 commented on #135
@Tejas1510 swoc

[2021-01-20 16:01] anubhab1710 commented on #137
Hello, @Tejas1510 I would like to work on this issue and resolve it under JWoC 2021. I have a fair understanding of the goals of this project and would like to contribute to feature enhancement. _I request you to kindly assign this issue to me._

[2021-01-20 16:43] Tejas1510 commented on #137
@anubhab1710 go ahead

[2021-01-20 16:44] Tejas1510 commented on #135
@chitranshu11 this issue is open only to jwoc participants

[2021-01-20 20:27] devmalik7 commented on #154
@Tejas1510 I would like to work on this issue in android.

[2021-01-20 20:57] imakash3011 commented on #156
I would like to work on this issue.

[2021-01-21 07:35] 7saikat7 commented on #160
can i work on it individually ? from JWOC

[2021-01-21 07:41] 7saikat7 commented on #156
it can be done using  Psutil, but the info you want to render on console or  a different screen or pop up ?
i am from JWOC  want to work on that

[2021-01-21 07:44] Tejas1510 opened #167 "Github Automate Bot"
Whenever the participants PR get merged then a message should be given in the following format
if the label is swoc2021
Awesome Work
Please Update this sheet https://docs.google.com/spreadsheets/d/1PQOim_z-zp9H_40HteKToHcr3gCWKQjjt-eZ3uatf0c/edit#gid=0

if label is jwoc2021
Awesome Work
Please Update this sheet https://docs.google.com/spreadsheets/d/1UpktGS0Hq0Wp83QKN5qKqj1VpfQQfe6crRWIKBXFy64/edi

[2021-01-21 08:08] Tejas1510 commented on #160
Go ahead @7saikat7

[2021-01-21 08:11] Tejas1510 commented on #156
@imakash3011 are you a jwoc participant

[2021-01-21 08:18] imakash3011 commented on #156
@Tejas1510  yes.

[2021-01-21 09:17] 7saikat7 commented on #160
Thank you ...

[2021-01-21 09:41] Sloth-Panda commented on #154
@Tejas1510  have attached the pr and made using js

[2021-01-21 09:42] karunkarthik-git commented on #157
I'd like to contribute to this issue. Kindly assign it to me @Tejas1510 !

[2021-01-21 09:45] #154 closed

[2021-01-21 09:48] #152 closed

[2021-01-21 09:49] tripathyprateek commented on #157
Go ahead @karunkarthik-git

[2021-01-21 09:54] noob-26 commented on #160
Hello, can I work on this using ReactJS as part of JWoC?

[2021-01-21 10:04] djm-1 commented on #160
I want to create a WhatsApp spammer.....can you assign it to me for JWoC?

[2021-01-21 10:05] pritamp17 commented on #112
@tripathyprateek I have sent PR( #169) for this issue please review it.

[2021-01-21 10:07] djm-1 opened #170 "Tic Tac Toe game in C"
**Is your feature request related to a problem? Please describe.**
I want to contribute my script to play classic Tic-Tac-Toe game in C

**Describe the solution you'd like**
I have already written the code for the same.

**Additional context**
Assign me this one for JWOC

[2021-01-21 10:13] djm-1 opened #171 "Text Translator"
**Is your feature request related to a problem? Please describe.**
I want to write a script that translates text to regional indian languages.

**Describe the solution you'd like**
I want to solve the problem by using text blob library in python which uses google translation.

**Additional context**
Please assign me this issue for JWoC

[2021-01-21 10:15] djm-1 opened #172 "Classic snake game"
**Is your feature request related to a problem? Please describe.**
I want to create classic snake-food game using python

**Describe the solution you'd like**
I have made the script using pygame.

**Additional context**
Assign me this issue for JWoC

[2021-01-21 10:19] djm-1 opened #173 "Text Summarizing in Python"
**Is your feature request related to a problem? Please describe.**
I want to create a python script that reads a pdf file and summarizes the text.

**Describe the solution you'd like**
I want to implement the solution using some pdf reading library( Yet to be decided ) and NLP (NLTk)

**Additional context**
Assign me this issue for JWoC

[2021-01-21 11:20] Tejas1510 commented on #170
This issue is already solved

[2021-01-21 11:20] #170 closed

[2021-01-21 11:20] Tejas1510 commented on #173
Great issue @djm-1
Go ahead

[2021-01-21 11:21] Tejas1510 commented on #171
Go ahead @djm-1

[2021-01-21 11:47] djm-1 commented on #171
Thank you

[2021-01-21 11:49] djm-1 commented on #173
Thank you

[2021-01-21 12:16] Tejas1510 commented on #156
Go ahead @imakash3011 for SWOC as this issue is opened to SWOC participants only

[2021-01-21 16:13] djm-1 commented on #171
Please label it for JWOC along with difficulty level

[2021-01-21 16:17] djm-1 commented on #172
Can I work on this issue?

[2021-01-21 16:38] anubhab1710 opened #176 "Screen Recorder"
**Is your feature request related to a problem? Please describe.**
This script is aimed at implementing a Screen Recording utility that will capture the computer's screen for a user-defined period of time (1920x1080 resolution)

**Describe the solution you'd like**
Using OpenCV and Python Imaging Library/PyQT/Tkniter with Numpy functions that will generate the video in .avi format

@Tejas1510 I wo

[2021-01-21 18:03] Tejas1510 commented on #176
go ahead @anubhab1710

[2021-01-21 18:05] Tejas1510 commented on #171
I have already labeled the issue

[2021-01-22 02:55] Samrat-14 commented on #172
I Samrat(jwoc) want to work on this and make the snake game using python

[2021-01-22 02:58] Samrat-14 commented on #133
I Samrat(jwoc) would like to contribute to this

[2021-01-22 03:32] Ayush7614 opened #179 "Facebook_Auto_Post"
**Is your feature request related to a problem? Please describe.**
Facebook_Auto_Post

**Describe the solution you'd like**
This script helps to post the content on Facebook. It is very handy to post the content on facebook.

[2021-01-22 03:32] Ayush7614 commented on #179
This issue under swoc

[2021-01-22 03:35] Ayush7614 opened #180 "GeeksForGeeks_Article_Downloader"
**Is your feature request related to a problem? Please describe.**
GeeksForGeeks_Article_Downloader

**Describe the solution you'd like**
This python script will download articles from GeeksForGeeks and save them as a pdf file. The script uses Selenium Webdriver and fpdf library. Selenium is used with Chrome Webdriver, so having Chrome browser is a requirement.

[2021-01-22 03:35] Ayush7614 commented on #180
This issue under jwoc

[2021-01-22 03:37] Ayush7614 opened #181 "CRICBUZZ scraper"
**Is your feature request related to a problem? Please describe.**
CRICBUZZ scraper

**Describe the solution you'd like**
This python script will scrap cricbuzz to get live scores.

[2021-01-22 03:37] Ayush7614 commented on #181
This issue is under jwoc

[2021-01-22 05:01] djm-1 commented on #173
Sir please assign me.

[2021-01-22 06:55] atarax665 commented on #181
@Ayush7614 Go ahead :+1:

[2021-01-22 06:56] atarax665 commented on #179
@Ayush7614 Assigned

[2021-01-22 07:08] Sudip704 commented on #181
May I work on this project

[2021-01-22 07:11] Tejas1510 commented on #181
@Sudip704 which language

[2021-01-22 07:13] #171 closed

[2021-01-22 07:26] Sudip704 commented on #181
in python, actually bhaiya I have already done this

[2021-01-22 07:34] Sudip704 commented on #181
![IMG_20210122_125722](https://user-images.githubusercontent.com/75150823/105460714-3949bd00-5cb2-11eb-8ad0-c141886d8d33.jpg)

[2021-01-22 07:34] Sudip704 commented on #181
Bhaiya just check this one is the correct approach or not

[2021-01-22 07:55] Ayush7614 commented on #181
@Sudip704 issued is already assigned to me

[2021-01-22 08:07] Tejas1510 commented on #181
@Sudip704 we have got the script in python
Can you work in any other language, I will assign it to you

[2021-01-22 08:08] Ayush7614 commented on #181
sudip approach is right bro but i already write script in python

[2021-01-22 08:12] Tejas1510 commented on #181
@Sudip704 you can work in python

[2021-01-22 15:10] #91 closed

[2021-01-22 16:06] devmalik7 commented on #172
@Tejas1510 I want to work on this issue in android

[2021-01-22 16:11] Tejas1510 commented on #172
@Samrat-14 one person is working on python
You can work in any other language

[2021-01-22 16:12] Tejas1510 commented on #160
@noob-26 go ahead

[2021-01-22 16:12] Tejas1510 commented on #160
@djm-1 can you please explain more on the issue

[2021-01-22 17:22] #89 closed

[2021-01-22 17:23] Tejas1510 commented on #62
@spursbyte what is the progress
It has been more than 15 days

[2021-01-22 17:24] spursbyte commented on #62
@Tejas1510 sorry for the delay we had online sems..give me 2 days

[2021-01-22 18:59] imakash3011 commented on #156
**psutil.sensors_temperatures()** is used to find the temperature of the CPU but it is not currently available for windows. Now what should I do?

[2021-01-22 20:48] Sloth-Panda opened #185 "script for sending alert message to a given phone number"
Would like to do this using python, let me know @Tejas1510

[2021-01-22 20:54] Sloth-Panda commented on #181
@Tejas1510 can I try making this using js?

[2021-01-22 20:55] Sloth-Panda opened #186 "IMDB movie scraper using nodejs"
would like to make this movie scraper

[2021-01-23 06:10] Tejas1510 commented on #181
Go ahead @Sloth-Panda

[2021-01-23 06:35] Ayush7614 opened #187 "Insect Catching Game Using Javacript"
**Is your feature request related to a problem? Please describe.**
Insect Catching Game Using Javacript

**Describe the solution you'd like**
Insect Catching Game Using HTML CSS JS

[2021-01-23 06:35] Ayush7614 commented on #187
This issue under jwoc

[2021-01-23 06:35] Ayush7614 commented on #187
Plss assign me

[2021-01-23 06:48] Tejas1510 commented on #187
We have already closed this issue

[2021-01-23 06:48] #187 closed

[2021-01-23 07:20] Tejas1510 commented on #62
Ok Sure

[2021-01-23 07:34] #176 closed

[2021-01-23 07:41] anubhab1710 commented on #133
Hello, @Tejas1510 If this particular issue hasn't been solved yet by the previous assignee, can I work on it and resolve it (since 'easy' tagged issues have a day's time to complete)?

[2021-01-23 15:22] #172 closed

[2021-01-23 15:22] Tejas1510 commented on #185
Go ahead @Sloth-Panda

[2021-01-23 15:24] Tejas1510 commented on #141
What is the Progress @Ayush7614

[2021-01-23 15:25] Tejas1510 commented on #141
I has been more than 5 days

[2021-01-23 15:26] Tejas1510 commented on #126
What is the progress @pritamp17

[2021-01-23 15:57] Ayush7614 commented on #141
Yess yess i have to work on this son i have to make PR @Tejas1510 sir

[2021-01-23 16:15] Ayush7614 commented on #141
Actually i have to do in vscode text editor but they are not working on drawing on screen on waving of pen so now i tried in jupyter notebook it takes some time @Tejas1510 sir but i promise you i have to complete this issue soon

[2021-01-23 16:23] anubhab1710 opened #190 "Website Blocker"
**Is your feature request related to a problem? Please describe.**
This is a script that aims to implement a website blocking utility for Windows-based systems. It makes use of the computer's hosts files and runs it as a background process, preventing access to the sites entered by the user.

**Describe the solution you'd like**
The script takes in the website URLs as input in an array and then ru

[2021-01-23 17:44] pritamp17 commented on #126
Sir I'm working on this.

[2021-01-24 03:41] Niveditha18 commented on #186
I would like to contribute to this issue

[2021-01-24 05:19] #157 closed

[2021-01-24 06:51] #112 closed

[2021-01-24 08:36] Tejas1510 commented on #190
Go ahead @anubhab1710

[2021-01-24 10:50] karunkarthik-git commented on #33
I'd like to work on this issue. Kindly assign it to me @Tejas1510 !

[2021-01-24 13:01] Ayush7614 opened #194 "Pokedex in Javascript"
**Is your feature request related to a problem? Please describe.**
Pokedex in Javascript

**Describe the solution you'd like**
Pokedox in Javascript This is i have to done in my online course so plss assign me this isssuee

[2021-01-24 13:02] Ayush7614 commented on #194
This issue is under jwoc

[2021-01-24 13:20] Tejas1510 commented on #194
Can you elaborate more what this issue does

[2021-01-24 14:03] Ayush7614 commented on #194
![image](https://user-images.githubusercontent.com/67006255/105632771-030b6980-5e7b-11eb-8fad-840bae8513b7.png)

[2021-01-24 14:04] Ayush7614 commented on #194
![image](https://user-images.githubusercontent.com/67006255/105632805-2e8e5400-5e7b-11eb-819b-451d1e4983ec.png)

[2021-01-24 14:05] Ayush7614 commented on #194
Like this sir it can form all types of pokedox form completely really it was very fun plss assign me

[2021-01-24 14:15] Tejas1510 commented on #33
@karunkarthik-git go ahead
Go ahead main attention will be given to the UI part

[2021-01-24 14:17] Tejas1510 commented on #194
Go ahead @Ayush7614

[2021-01-24 14:43] Tejas1510 commented on #26
@abhijeet007rocks8 what is the progress

[2021-01-24 14:46] #58 closed

[2021-01-24 14:47] Tejas1510 commented on #62
@pritamp17 what is the progress

[2021-01-24 14:49] Tejas1510 commented on #62
@spursbyte this is high time either make a PR else un-assign yourself so there can work
This way you will get to learn how to work under time as companies won't give this much time

[2021-01-24 14:49] #67 closed

[2021-01-24 14:49] Tejas1510 commented on #77
@HaripriyaB go ahead

[2021-01-24 14:50] Tejas1510 commented on #77
@devmalik7 go ahead

[2021-01-24 14:52] #108 closed

[2021-01-24 14:56] spursbyte commented on #62
@Tejas1510 I am on it but the google places api credential is not generating for my account due to some issues from their side i guess. That places api integration is important for the code. I guess other asignees are facing the same issue and if not any asignee who has his places api credential can share it with me so i can demonstrate.

[2021-01-24 14:58] spursbyte commented on #62
@Tejas1510 just ask if other asignees are facing the same issue and if it is a common issue then we can switch to other apis for location.

[2021-01-24 15:31] Tejas1510 commented on #62
Ok Sure @spursbyte  I will have a look
@tripathyprateek please also have a look
can you help a bit

[2021-01-24 16:32] Tejas1510 commented on #133
@Samrat-14 go ahead

[2021-01-24 16:33] Tejas1510 commented on #133
@anubhab1710 if we don't get PR from the assigned person I will assign it to you

[2021-01-24 16:34] #134 closed

[2021-01-24 16:36] #136 closed

[2021-01-24 16:36] #137 closed

[2021-01-24 16:37] #142 closed

[2021-01-24 16:38] Tejas1510 commented on #156
@tripathyprateek has created the issue
He will be able to guide you better

[2021-01-24 16:39] Tejas1510 commented on #173
What is the progress?

[2021-01-24 18:23] djm-1 commented on #173
Sir, it will be completed by tomorrow.

[2021-01-24 19:02] Ayush7614 commented on #194
#195 this is pull for this issue plss review it @Tejas1510 sir

[2021-01-24 20:54] tripathyprateek commented on #156
@imakash3011 you can try any solution you can get. I myself just searched what library can be used for doing this so suggested using that. Feel free to try out any solution as you wish.

[2021-01-25 08:21] #190 closed

[2021-01-25 09:28] Sloth-Panda opened #197 "spambot creation"
Would like to make a spambot using python

[2021-01-25 09:59] Sloth-Panda opened #198 "Quiz app creation"
would like to make a quiz app using javascript

[2021-01-25 17:06] atarax665 opened #199 "[Github Action] Auto Assign issue"
**Is your feature request related to a problem? Please describe.**

A lot of times contributors have to wait for the project maintainers to assign them a particular issue so that they can make the pull request or maybe start working on it. It would be better if better if we can automate this assigning task.

**Describe the solution you'd like**
Anyone could auto assign the issue using a keyword or

[2021-01-25 21:04] abhijeet007rocks8 commented on #26
I had exams till today.
Completed the project working
should add the GUI for search and results too??

[2021-01-26 03:21] giridhar7632 opened #200 "Rock Paper Scissors in Python"
How about adding a Rock Paper Scissors game in Python? If OK, I would like to work on it. 😁

[2021-01-26 04:17] Ayush7614 commented on #194
#201 this is pull for this issue plss review it @Tejas1510 sir

[2021-01-26 06:13] Tejas1510 commented on #200
This issue is already solved

[2021-01-26 06:13] #200 closed

[2021-01-26 06:14] Tejas1510 commented on #197
What is the use
Can you eloborate more

[2021-01-26 07:00] giridhar7632 commented on #200
I found the game using JavaScript in this repo
But I wanted to add it in **Python** language.

[2021-01-26 14:38] pritamp17 commented on #186
please assign me this in python

[2021-01-26 15:53] #33 closed

[2021-01-26 17:11] aum-singhal commented on #155
I have done this using node js.
like I have created a very simple bot and practicing on it but using Node Js.
If that suits to you please assign it to me. (my contribution will be through swoc 2021).
If do not, then please let me know. I will try using python too.

[2021-01-26 17:15] aum-singhal commented on #155
well i just searched the net and that making bots using python is much easier. so i think i can contribute on this if this is available

[2021-01-26 19:43] Niloy-Sikdar-001 opened #207 "Python script for Instagram scraping"
**Is your feature request related to a problem? Please describe.**
We don't have an option on Instagram to see the list of people whom we follow but they don't follow us back. If the number is large then it will be time-consuming as well as too much hard to find the perfect list.

**Describe the solution you'd like**
I am gonna make an Instagram scraping script using selenium(to automate the task)

[2021-01-27 04:56] Ayush7614 opened #208 "Discovering Subdomains with Python"
**Is your feature request related to a problem? Please describe.**
Discovering Subdomains with Python

**Describe the solution you'd like**
Python Script to List all the subdomains of a website and stored it in a CSV file.
We need to create a subdomain.txt file and run a dictonary attack. I've added a subdomain.txt file with popular 1000 subdomains and you can find more subdomain.txt files..

[2021-01-27 04:57] Ayush7614 commented on #208
I have currently work on this issue @Tejas1510 sir in different contest so plss asssign me this under JWOC

[2021-01-27 05:34] Tejas1510 commented on #207
Go ahead @Niloy-Sikdar-001

[2021-01-27 06:04] #194 closed

[2021-01-27 06:05] Tejas1510 commented on #208
@Ayush7614 First complete your remaining issue
after that only I Will assign it to you

[2021-01-27 08:46] Ayush7614 commented on #208
ok

[2021-01-27 09:13] anubhab1710 commented on #133
@Tejas1510 May I work on this issue now?

[2021-01-27 17:10] Sloth-Panda commented on #198
@Tejas1510 would like to make this let me know

[2021-01-28 04:18] Niloy-Sikdar-001 opened #210 "Email Automation using python"
**Is your feature request related to a problem? Please describe.**
Automating tasks is always funny  :)

**Describe the solution you'd like**
Send email to multiple senders using Python script.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about th

[2021-01-28 05:40] Tejas1510 commented on #210
You can comment it here https://github.com/Tejas1510/Hacking-Scripts/issues/125
Both issue are same

[2021-01-28 06:33] Niloy-Sikdar-001 commented on #125
I want to work on this in python as a JWOC mentee , can you assign me ?

[2021-01-28 06:34] #210 closed

[2021-01-28 08:59] pritamp17 commented on #125
@Niloy-Sikdar-001 I am already working on this script in python.

[2021-01-28 12:16] Sloth-Panda opened #212 "Getting location of a position using geolocation api and displaying it in a map with proper error handling"
Would like to make this using javascript let me know @Tejas1510

[2021-01-28 15:07] Tejas1510 commented on #212
go ahead @Sloth-Panda

[2021-01-28 17:41] 5hre9a opened #213 "create coffee machine - python"
I'm swoc participant and i would like to work on this.

[2021-01-29 04:01] karunkarthik-git commented on #173
I'd love to work on this issue ! Kindly assign me this @Tejas1510

[2021-01-29 05:50] Tejas1510 commented on #213
Can you describe what this issue do

[2021-01-29 08:58] 5hre9a commented on #213
# Coffee-Machine

Coffee Machine Program Requirements
1. Prompt user by asking “What would you like? (espresso/latte/cappuccino):”
a. Check the user’s input to decide what to do next.
b. The prompt should show every time action has completed, e.g. once the drink is
dispensed. The prompt should show again to serve the next customer.
2. Turn off the Coffee Machine by entering “off” to the prompt.
a.

[2021-01-29 15:55] Tejas1510 commented on #213
Go ahead @5hre9a

[2021-01-31 07:26] #125 closed

[2021-01-31 07:59] pritamp17 commented on #212
@Tejas1510  I want to work on this using Python django, please assign this to me in python.

[2021-01-31 19:12] imakash3011 commented on #199
I would like to work on this issue.

[2021-02-01 03:01] atarax665 commented on #199
Sure, go ahead.

[2021-02-01 03:09] atarax665 opened #215 "Discord/Telegram Meme Bot"
## Description

Make a meme bot using PRAW Reddit API that fetched random meme from r/memes subreddit.

[2021-02-01 08:33] 5hre9a commented on #213
@Tejas1510 Thank you for assigning me the issue. Can you reopen this pull request and merge it please?

[2021-02-02 08:16] Tejas1510 commented on #186
go ahead @Sloth-Panda

[2021-02-02 08:16] Tejas1510 commented on #186
@Niveditha18 which language

[2021-02-02 15:44] #26 closed

[2021-02-02 17:16] Tejas1510 commented on #213
Create a New PR
that would be good @5hre9a

[2021-02-02 18:23] vismitap commented on #167
Hey! I would like to work on this issue!

[2021-02-03 04:59] pritamp17 opened #218 "Keylogger script"
The Script which when executed on the target pc records the keystrokes, and at certain intervals sends the result on the given email using SMTP lib.

[2021-02-03 05:00] pritamp17 commented on #218
@Tejas1510 please assign me this under SWOC.

[2021-02-03 08:41] Tejas1510 commented on #218
@pritamp17 you haven't filled the score sheet shared
You won't be getting points if you don't fill that

[2021-02-03 10:02] 5hre9a commented on #213
done! @Tejas1510

[2021-02-03 10:22] iamvs-2002 opened #220 "Java Program to find a user's location using his/her IP Address"
### I'm submitting a
- [ ] bug report.
- [x] feature request.

### Current Behaviour:

### Expected Behaviour:

### Steps to reproduce:

### Snapshot:

### Do you want to work on this issue?

yes

[2021-02-03 10:23] iamvs-2002 commented on #220
Kindly assign me this issue in Java

[2021-02-03 13:32] pritamp17 commented on #218
@Tejas1510 sir could you tell where to find score sheet?

[2021-02-03 15:41] Tejas1510 commented on #220
Go ahead @iamvs-2002

[2021-02-03 15:43] Tejas1510 commented on #218
@pritamp17 you can check it here https://docs.google.com/spreadsheets/d/1PQOim_z-zp9H_40HteKToHcr3gCWKQjjt-eZ3uatf0c/edit#gid=0

[2021-02-03 20:46] aryan040501 commented on #220
@Tejas1510 Hi, I would love to make this feature under SWOC program. Could you please assign it to me

[2021-02-03 20:47] aryan040501 commented on #220
I have already done a bit of research and can deliver the java program in under 5hrs

[2021-02-04 04:30] Tejas1510 commented on #220
@aryan040501 could you work in any other language as one person is currently working under java

[2021-02-04 07:09] Niveditha18 commented on #186
@Tejas1510 In nodejs

[2021-02-04 10:12] karunkarthik-git commented on #215
I'd love to work on this issue as a part of Jwoc2021.
I'd like to make a discord meme bot using the Praw API using Python! Kindly assign this to me @Tejas1510 !

[2021-02-04 12:55] atarax665 commented on #215
Sure. You can start working on this.

[2021-02-04 15:18] aryan040501 commented on #220
Sure, I can try to use Python.

[2021-02-04 17:45] Tejas1510 commented on #220
Go ahead @aryan040501

[2021-02-06 07:42] saiharsha-22 commented on #173
@Tejas1510 Is this issue still there? I would like to work on this issue. I am a participant of SWOC 2021

[2021-02-06 08:12] saiharsha-22 opened #225 "Android App for playing Tic -Tac- Toe Game"
I am a participant of SWOC 2021, can you assign this issue to me. Creating an Android application for the people who want to play the Tic-Tac-Toe Game.

[2021-02-06 08:24] saiharsha-22 opened #226 "Weather APP(Getting the news of current weather conditios)"
I would like to work on this issue. Like it will take the inputs of a country, and give the details of wether conditions.
I would like to create using javascript by calling Weather APIs and show the result on the website.

[2021-02-06 14:38] saiharsha-22 commented on #226
@Tejas1510 can I work on this issue?

[2021-02-06 14:39] saiharsha-22 commented on #225
@Tejas1510  can I work on this issue?

[2021-02-06 15:39] Tejas1510 commented on #226
This issue is already solved https://github.com/Tejas1510/Hacking-Scripts/tree/main/Python/weatherscrapper

[2021-02-06 15:39] #226 closed

[2021-02-06 15:40] Tejas1510 commented on #225
Go ahead @saiharsha-22

[2021-02-06 16:38] saiharsha-22 commented on #225
@Tejas1510 thanks for assigning the issue I will start working on it.

[2021-02-06 16:41] saiharsha-22 commented on #226
@Tejas1510 I would like to work on a web interface and create a webpage for it. Using Java script, HTML, CSS
And I guess the existing one is done using python.

[2021-02-06 18:45] atarax665 opened #228 "Song Lyrics Fetcher"
## Problem Statement :
Ask the user to enter the song and artist's name and then fetch the lyrics of that particular song for the user.
This task can be done in various languages.
i.e :
- Through web scraping in python
- A website using Vanilla JS or React (May use an existing API)
- An android app

[2021-02-06 19:13] #198 closed

[2021-02-07 03:38] Tejas1510 commented on #212
Go ahead @pritamp17

[2021-02-07 08:55] #218 closed

[2021-02-07 15:13] Ayush7614 commented on #180
#232 this is pull for this issue plss review it

[2021-02-07 15:27] Ayush7614 commented on #208
@Tejas1510 now plss assign me this issue

[2021-02-07 15:44] saiharsha-22 opened #233 "Text Editior using Java Script"
A text editor that will allow editing text.

Feature's of Text Editor:
1) Underlining the text.
2) Making the text Bold
3)Making the text italic

A complete web interface, related system. Were we can modify the text easily.

[2021-02-07 15:45] saiharsha-22 commented on #233
@Tejas1510 I would like to work on this issue, can you assign this issue to me.

[2021-02-07 17:20] aakashgoel2002 commented on #114
Can I work over this issue using Kotlin?

[2021-02-07 17:48] aakashgoel2002 commented on #77
Can I work on this issue in JAVA?

[2021-02-07 18:08] AmeyaJain-25 opened #234 "PDF Encrypter"
Please assign me this issue. I would like to work on this.
**Is your feature request related to a problem? Please describe.**
A Python script for encrypting a PDF by some password using PyPDF2.

**Describe the solution you'd like**
The main feature would be encrypting the PDF with a password. Another feature is that it can have an admin password and a company or organization password for people wo

[2021-02-07 19:30] Tejas1510 commented on #234
Go ahead @AmeyaJain-25

[2021-02-07 19:55] AmeyaJain-25 commented on #234
Thanks

[2021-02-07 23:57] aakashgoel2002 commented on #234
Can I work over this issue in JAVA?

[2021-02-08 00:03] aakashgoel2002 commented on #225
Can I work over this issue in C++(Programming Language)?

[2021-02-08 02:50] saiharsha-22 commented on #233
@Tejas1510 I would like to work on this issue, can you assign this issue to me

[2021-02-08 14:24] Tejas1510 commented on #234
Go ahead @aakashgoel2002

[2021-02-08 15:39] pritamp17 opened #236 "Distance calculating app."
**Is your feature request related to a problem? Please describe.**
An app that can show the distance between your current position(located using user's current IP) and user searched position on Map.

**Additional context**
This app will have a frontend too, to show searched position on the map.

[2021-02-08 15:40] pritamp17 commented on #236
please assign me this in python, under SWOC.

[2021-02-08 15:45] pritamp17 commented on #234
Can I work on this script using nodejs?

[2021-02-09 09:05] Tejas1510 commented on #236
Good Issue
Go ahead @pritamp17

[2021-02-09 14:03] Sloth-Panda opened #239 "Improvement in the documentation"
**Is your feature request related to a problem? Please describe.**
There are multiple issue templates would like to remove one and update another one
**Describe the solution you'd like**
Updation of the issue template
**Describe alternatives you've considered**
No alternatives considered
**Additional context**
No additional context

[2021-02-09 17:06] #212 closed

[2021-02-09 17:07] #234 closed

[2021-02-09 17:08] Tejas1510 commented on #239
Can you explain a bit where is the bug?

[2021-02-09 17:15] Sloth-Panda commented on #239
![Screenshot (98)](https://user-images.githubusercontent.com/70213384/107400964-63133880-6b28-11eb-969b-4bea667a8193.png)

![Screenshot (99)](https://user-images.githubusercontent.com/70213384/107400919-52fb5900-6b28-11eb-91a0-698ea4ea43d0.png)

Take a look there are  two and one is also outdated

[2021-02-09 17:47] #197 closed

[2021-02-10 13:51] adviksinghania commented on #228
I would like to work on this issue using Python.
I'm an SWoC participant.

[2021-02-10 15:35] aakashgoel2002 commented on #225
@Tejas1510 Can I work over this issue?

[2021-02-10 15:37] aakashgoel2002 commented on #114
@Tejas1510 Can I work over this issue?

[2021-02-10 15:41] atarax665 commented on #228
Go ahead.

[2021-02-10 17:41] Sloth-Panda commented on #239
@Tejas1510  is it required to make any changes let me know

[2021-02-10 18:16] devmalik7 commented on #236
@Tejas1510 I would like to work on this issue in Android(JAVA).

[2021-02-10 20:19] Sloth-Panda opened #243 "Creation of a maze game"
**Is your feature request related to a problem? Please describe.**
This will be a maze game built using javascript
**Describe the solution you'd like**
There will be a bug and it will try to find the path in the maze to a cabbage and this game also will be having some levels as easy, medium ,hard like that
**Describe alternatives you've considered**
A clear and concise description of any alternati

[2021-02-10 20:19] Sloth-Panda commented on #243
@Tejas1510  would like to make this using js as part of swoc

[2021-02-10 21:50] aakashgoel2002 opened #244 "Youtube Video Downloader"
### I'm submitting a
- [x] feature request.

### Proposed Feature:
A Script to download Youtube Video.
### Do you want to work on this issue?
Yes, I want to work over this issue in JAVA, under SWoC 2021

[2021-02-11 03:36] Tejas1510 commented on #225
Go ahead @aakashgoel2002

[2021-02-11 03:36] Tejas1510 commented on #114
Go ahead @aakashgoel2002

[2021-02-12 18:22] #228 closed

[2021-02-12 18:23] #156 closed

[2021-02-12 18:23] #225 closed

[2021-02-12 18:26] Tejas1510 commented on #239
Ya you can go ahead but since it is a very small task you won't be getting any points for that

[2021-02-12 18:26] Tejas1510 commented on #243
Go ahead @Sloth-Panda

[2021-02-12 18:27] Tejas1510 commented on #186
Go ahead @Niveditha18

[2021-02-12 18:32] Tejas1510 commented on #126
@pritamp17 It has been 20 days
I want to know your progress?

[2021-02-13 08:49] #243 closed

[2021-02-13 21:48] Sloth-Panda opened #249 "Random email generator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Generation of random email  ids
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
This script is going to generate random email ids on running it
**Describe alternatives you've considered**
A c

[2021-02-13 21:49] Sloth-Panda commented on #249
@Tejas1510  would like to work on this using python

[2021-02-14 11:06] saiharsha-22 commented on #249
@Tejas1510 I would like to work on javascript.

[2021-02-14 11:11] saiharsha-22 opened #250 "Load an CSV data in webpage(Java Script)"
**Describe the solution you'd like**
Load our CSV data and check in the web-page

[2021-02-14 11:12] saiharsha-22 commented on #250
@Tejas1510 I would like to work on this. Like you will try to load .csv file, after that, you can see the whole data in a webpage in rows and columns like in table format

[2021-02-14 12:30] Tejas1510 commented on #249
Go ahead @saiharsha-22

[2021-02-14 12:30] Tejas1510 commented on #250
Go ahead @saiharsha-22

[2021-02-14 12:31] #141 closed

[2021-02-14 12:32] Tejas1510 commented on #135
@chitranshu11 you can work on this

[2021-02-14 12:52] saiharsha-22 commented on #250
@Tejas1510 thank you for assigning the issue I will start working on it.

[2021-02-14 12:53] saiharsha-22 commented on #249
@Tejas1510 thank you for assigning the issue. I will start working on it

[2021-02-15 14:20] #249 closed

[2021-02-16 09:26] anubhab1710 opened #254 "Google Chrome Dinosaur Game Automation"
**Is your feature request related to a problem? Please describe.**
This is a script that aims to automate the Chrome Dinosaur Game which is a usual pastime activity following if there's no internet on the system. After running the script, it maps the obstacles coming forward and sets the timing of the dino sprite's jump automatically in a continuous process to increase the score.

**Describe the s

[2021-02-16 09:36] Tejas1510 commented on #254
Go ahead @anubhab1710

[2021-02-16 16:51] atarax665 commented on #236
Go ahead @devmalik7

[2021-02-16 19:08] Tejas1510 commented on #133
Go ahead @anubhab1710
Sorry for the delay in assigning

[2021-02-18 17:17] Sloth-Panda opened #260 "BMI calculator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Would like to make a BMI calculator using python
**Describe alternatives you've considered**
A clear and concise description of any alterna

[2021-02-18 17:17] Sloth-Panda commented on #260
@Tejas1510  would like to make this using python

[2021-02-19 06:59] #236 closed

[2021-02-19 07:21] Tejas1510 commented on #260
This issue is Already solved

[2021-02-19 07:24] #260 closed

[2021-02-19 07:32] Sloth-Panda opened #261 "Light bulb effect"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

YES

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
This is a small project in which by tapping  on the light bulb it will glow throught out the required area and is built using JS
**Descri

[2021-02-19 07:33] Sloth-Panda commented on #261
would like to make this @Tejas1510

[2021-02-19 07:34] Tejas1510 commented on #261
Go ahead @Sloth-Panda

[2021-02-20 14:57] #261 closed

[2021-02-20 18:40] Sloth-Panda opened #263 "Snake game"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
This will be  a snake game built using html, css, js

**Describe alternatives you've considered**
A clear and concise description of any a

[2021-02-20 18:41] Sloth-Panda commented on #263
@Tejas1510  can I work on this issue?

[2021-02-20 19:39] Sloth-Panda opened #264 "speed typing game"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Yes

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

This will be  a speed typing game built using js

**Describe alternatives you've considered**
A clear and concise description of any alt

[2021-02-20 19:40] Sloth-Panda commented on #264
@Tejas1510  can I work on this?

[2021-02-21 20:19] #244 closed

[2021-02-22 10:46] pritamp17 commented on #12
@Tejas1510 can work on this using python?

[2021-02-22 10:59] pritamp17 opened #266 "Encrypt Pdf using python"
Python script that can encrypt your pdf file.

[2021-02-22 10:59] pritamp17 commented on #266
please assign me this under swoc.

[2021-02-23 06:39] Sloth-Panda opened #267 "Web browser"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Would like add to. Add a web browser that is of low functionality and is made completely using python

**Describe alternatives you've consi

[2021-02-23 06:40] Sloth-Panda commented on #267
@Tejas1510 can I go ahead with this

[2021-02-23 06:53] anirudhsai20 commented on #213
Hi @Tejas1510 . Can I please work on this under SWOC?

[2021-02-23 06:59] Tejas1510 commented on #267
Go ahead @Sloth-Panda

[2021-02-23 07:00] Tejas1510 commented on #266
Go ahead @pritamp17

[2021-02-23 07:01] #114 closed

[2021-02-23 07:04] Tejas1510 opened #268 "Website Modification"
Currently the images in website are all same
Can we do something so that we can have random different images
![image](https://user-images.githubusercontent.com/64543913/108811542-7667de80-75d3-11eb-8cca-f3ccefd58deb.png)

[2021-02-23 07:05] Tejas1510 commented on #213
Go ahead @anirudhsai20

[2021-02-23 18:45] Sloth-Panda commented on #267
@Tejas1510 take a look at the pr

[2021-02-23 20:57] Sloth-Panda opened #270 "script for making ddos attack"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Yes

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

This python script can be used to make ddos attack , thus overwhelming the server which it wants to attck and finally shutting down the

[2021-02-23 20:58] Sloth-Panda commented on #270
@Tejas1510 can I go ahead with this?

[2021-02-24 06:04] #267 closed

[2021-02-24 10:38] NoorMosia commented on #268
Hi @Tejas1510, I would like to work on this.

[2021-02-24 11:31] Tejas1510 commented on #268
Go ahead @NoorMosia

[2021-02-25 17:26] pritamp17 opened #272 "Sniffer in Python"
**Is your feature request related to a problem? Please describe.**
A Python script that can sniff data from HTTP pages when executed on the target machine.

[2021-02-25 17:26] pritamp17 commented on #272
@Tejas1510 please assign me this under SWOC.

[2021-02-25 21:28] Ayush7614 opened #273 "Countdown_clock_and_Timer"
**Is your feature request related to a problem? Please describe.**
Countdown_clock_and_Timer in Python

**Describe the solution you'd like**
A simple timer that can be used to track runtime. The purpose of this is to provide a simple, and standard, way of tracking runtime.

[2021-02-25 21:29] Ayush7614 commented on #273
@Tejas1510 plsss assign me this issue under swoc

[2021-02-25 21:31] #266 closed

[2021-02-25 21:32] Tejas1510 commented on #272
Go ahead @pritamp17

[2021-02-25 21:33] Tejas1510 commented on #270
go ahead @Sloth-Panda

[2021-02-25 21:34] Tejas1510 commented on #273
Go ahead @Ayush7614

[2021-02-26 06:06] #263 closed

[2021-02-26 06:06] #264 closed

[2021-02-26 06:06] #239 closed

[2021-02-26 08:04] #270 closed

[2021-02-26 08:04] Tejas1510 commented on #268
@NoorMosia any updates

[2021-02-26 13:13] NoorMosia commented on #268
I'm currently adding the last +-20 pictures. Should be done by today.

[2021-02-26 16:27] #272 closed

[2021-02-26 21:48] Ayush7614 commented on #273
#277 this is pull for this issue

[2021-02-27 00:55] vismitap commented on #273
Hey! Can I try this for javascript?

[2021-02-27 01:02] vismitap commented on #213
May I work on it using Javascript?

[2021-02-27 05:02] pritamp17 opened #278 "BITCOIN Price Tracker"
#Description
  Track Bitcoin Price In Real-Time Using Python

[2021-02-27 05:03] pritamp17 commented on #278
Please assign this to me under SWOC.

[2021-02-27 05:10] pritamp17 opened #279 "Get WIFI Passwords"
A Python Script which when Executed on the target machine will send all the WIFI names and their respective passwords stored in it, through Given Email.

[2021-02-27 06:55] Tejas1510 commented on #279
Go ahead @pritamp17

[2021-02-27 08:38] Ayush7614 opened #280 "Counting Days"
**Aim**

Counting Days in python

**Describe the solution you'd like**

A simple check that will tell the difference between today and the date given.

[2021-02-27 08:39] Ayush7614 commented on #280
@Tejas1510 plss assign me this issue under Swoc

[2021-02-27 08:43] Ayush7614 opened #281 "Github Bomb Issues"
**Is your feature request related to a problem?

Github Bomb Issues

**Describe the solution you'd like**

This python script bombs specified number of issues on a Github Repository.

[2021-02-27 08:43] Ayush7614 commented on #281
@Tejas1510 plss assign me this issue under swoc

[2021-02-27 08:43] Tejas1510 commented on #280
This Issue is already solved

[2021-02-27 08:43] #280 closed

[2021-02-27 08:44] Tejas1510 commented on #278
This issue is already solved

[2021-02-27 08:44] #278 closed

[2021-02-27 08:49] Sloth-Panda opened #282 "geolocation tracker"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Yes

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

This python script will be able to track geo-location  depending on the provided  ip adress and will print out city, country, region etc

[2021-02-27 08:55] Sloth-Panda opened #283 "pac-man game"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

This is going to be pac-man game implemented in javascript

**Describe alternatives you've considered**
A clear and concise description o

[2021-02-27 08:55] Sloth-Panda commented on #283
@Tejas1510  would like to work on this

[2021-02-27 08:55] Sloth-Panda commented on #282
@Tejas1510 would like to work on this

[2021-02-27 08:57] Tejas1510 commented on #283
This issue is solved
Try to work on an issue that solves some real-world problem and are challenging

[2021-02-27 08:57] #283 closed

[2021-02-27 08:57] Tejas1510 commented on #282
This issue is again already solved

[2021-02-27 08:57] #282 closed

[2021-02-27 08:58] Tejas1510 commented on #281
You have various issues pending to solve
First complete that

[2021-02-27 08:58] #281 closed

[2021-02-27 09:00] Sloth-Panda commented on #282
@Tejas1510 like can't I build the same thing in different language? or I have to check all the languages in which something is not built and then go for it?

[2021-02-27 09:04] Tejas1510 commented on #282
This issue is solved so it would be nice if you work on some other issue that will add more value to the project

[2021-02-27 09:05] Sloth-Panda commented on #282
@Tejas1510 I did not find this issue anywhere it is sort of a location tracker not a geolocation app and it uses ip adress to track location I thought this concept was not there so raised it . can you please check?

[2021-02-27 09:17] Sloth-Panda opened #284 "Checking vulnerability of a website"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Yes

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

This python script is used to check whether a website is vulnerable or not. Entered url of a  site is scanned by the script by going thr

[2021-02-27 09:18] Sloth-Panda commented on #284
@Tejas1510 I did not find this issue on this repo. let me  if its good enough to move ahead with.

[2021-02-27 09:20] Tejas1510 commented on #284
Go ahead @Sloth-Panda
Good issue

[2021-02-27 19:05] Sloth-Panda opened #286 "subdomain scanner"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
searching for subdomain can take forever so this python script will be able to get the subdomains easily and it gets them by using requests

[2021-02-27 19:06] Sloth-Panda commented on #286
@Tejas1510 can I work on this?

[2021-02-28 08:05] #284 closed

[2021-02-28 14:27] vybhav72954 commented on #199
@Tejas1510 @atarax665 I can do this

[2021-02-28 14:29] vybhav72954 opened #289 "Enforce PEP-8 guidelines across the whole Python codebase"
This codebase is relatively new and hence if we would start enforcing pep-8 guidelines from today only, we can make sure that good code quality across all the time.

[2021-02-28 15:34] Tejas1510 commented on #289
Go ahead @vybhav72954

[2021-02-28 15:34] #185 closed

[2021-02-28 15:34] #279 closed

[2021-02-28 16:24] vybhav72954 opened #290 "Update the .gitignore."
The current `.gitignore` lacks multiple benchmark files that should be in `.gitignore`

[2021-02-28 16:42] #286 closed

[2021-03-01 19:36] #199 closed

[2021-03-01 19:37] #290 closed

[2021-03-01 19:38] #289 closed

[2021-03-01 19:39] Tejas1510 commented on #273
Go ahead @vismitap

[2021-03-01 19:39] Tejas1510 commented on #273
/assign

[2021-06-03 12:12] unnati914 commented on #167
could i work on it?Thank you

[2021-06-04 12:10] neelshah2409 commented on #254
Sir I want to work in this issue and solve with python
So plz allow me.

[2021-06-07 05:25] Swarnava77 commented on #77
@Tejas1510 Kindly assign me this work. I am a  LGM-Soc 21 participant

[2021-06-08 13:52] KunalSharmaCoder commented on #160
Hello @Tejas1510 , can I work on this using JAVA as part of LGM-SOC21?

[2021-06-08 13:54] Tejas1510 commented on #160
Go ahead @KunalSharmaCoder

[2021-06-09 03:28] Pradhuman-singh5 commented on #77
@Tejas1510  I want to make this script in JavaScript and Node.JS . Can you Assign me the Issue

[2021-06-09 14:50] Kartikey0205 opened #296 "Wants to add some more feature in Java Script"
Hey @Tejas1510 I want to add a

   1. Add a date and time feature in Notes app of JavaScript

please assign me this task (if you thinks it will enhance your project) under the Lgm-Soc'21 and add labels if possible.

[2021-06-09 15:41] SaifKhan09 commented on #296
Hey @Tejas1510
I would like to improvise upon the memory game by using a React based application.
If Possible, do assign me this miniature project under the LGM-SOC'21 and do assign the labels too.

[2021-06-09 15:55] noviicee opened #297 "Facebook Profile Picture Downloader"
**Is your feature request related to a problem? Please describe.**
It will download the profile pictures (one/many users) from the person's Facebook account and store it in a file locally.

[2021-06-09 15:56] noviicee commented on #297
I want to work on this under lgm-soc'21.

[2021-06-09 15:57] noviicee opened #298 "Python Script to download large files from the internet."
**Is your feature request related to a problem? Please describe.**
This python script will help users to download any kind of files, irrespective of their size from the internet.

**Details**
This script can be used to download any kind of files (files of any format), irrespective of their size from the internet.
You just need to have the url and you are good to go!

[2021-06-09 15:57] noviicee commented on #298
I want to work on this under lgm-soc'21

[2021-06-09 16:25] Tejas1510 commented on #296
@Kartikey0205  thanks for creating a issue

but most of the issue you have mentioned have already been solved

and just mention one issue under one issue tab don't try to mix all

[2021-06-09 16:27] Tejas1510 commented on #298
Go ahead @noviicee

[2021-06-09 16:28] Tejas1510 commented on #297
This issue is already solved so would close this

[2021-06-09 16:28] #297 closed

[2021-06-09 16:55] mitali-1703 opened #299 "Want to add Analog clock and dinosaur game in Javascript"
Hey @Tejas1510 will you please assign me this under LGM-SOC'21??

[2021-06-09 17:01] mitali-1703 opened #300 "Want to add Rock, Paper, scissors game and Custom Calculator both in JAVA"
Hey @Tejas1510 will you please assign me this issue under LGM-SOC'21??
Also could you please add labels to it??

[2021-06-09 17:32] SaifKhan09 commented on #300
Hey @Tejas1510
Kindly assign me this Issue under the LGM-SOC'21

[2021-06-09 17:39] Kartikey0205 commented on #299
hey @Tejas1510 i would love to work on this issue please assign me this under Lgm-soc'21

[2021-06-09 18:36] Architrixs commented on #268
Hey is this still open, because the repo is not in sync with the website and the images are already added into main.js, just some part of the code is not being used and can be commented out, otherwise it is good to go. Let me Know what you think, I was hoping to work on this for LGM SOC, but most of the work is already done.

[2021-06-09 21:25] Astitva7717 commented on #299
hey @Tejas1510 can you assign me this? I've a snake game in javascript also which I wanna share.

[2021-06-09 21:27] Astitva7717 commented on #296
Hey @Tejas1510 I want to add a Snake Game in Java Script. please assign me under the Lgm-Soc'21 and add labels if possible.

[2021-06-10 05:43] Astitva7717 opened #304 "Want to add javascript weather app"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-10 05:55] harsh6768-svg opened #306 "Random password generator file in c language"
Just updated the SRAND function it does not effect the code but just decrease the time of compilation and make code more efficient

[2021-06-10 06:03] neelshah2409 commented on #160
Title:  WhatsApp Message Automation
About: I want to implement a python script for this problem
Name: Neel Shah
Label: Feature Request
Assignee: ''

LGM-SOC'21>Participant

Description> Here I will use pywhatkit library and try to automate the message .

[2021-06-10 07:15] Debashish-hub opened #307 "Typing Speed Test"
**Is your feature request related to a problem? Please describe.**
It will be a project which will test the typing speed, show the accuracy, speed and wpm as output

**Describe the solution you'd like**
The user has to type a given sentence based on which all the outputs will be shown

**Additional context**
I can do this in Python as well as Javascript

[2021-06-10 07:15] immortal-j opened #308 "Want to add todo list"
I want to add Todo list
using html,css,nodejs ,ejs and mongodb

[2021-06-10 07:17] Debashish-hub opened #309 "Expense tracker"
**Is your feature request related to a problem? Please describe.**
An Expense tracker will be created in react js

**Describe the solution you'd like**
The user can add the amount added or deducted and it will be stored in it.

[2021-06-10 07:21] immortal-j opened #310 "Want to add a personal blog page"
i want add a personal blog webpage using javascript nodejs html css express etc

[2021-06-10 07:50] Tejas1510 commented on #310
Go ahead @immortal-j

[2021-06-10 07:58] Anant1711 opened #311 "Add Time module in Dice rolling simulator in Python"
1. I want to add a Time module to give a more realistic look to this script for rolling dice.
2. Make a matrix that will be more look like a DICE

[2021-06-10 08:33] #311 closed

[2021-06-10 08:57] neelshah2409 opened #313 "Movie information Detailer"
**Is your feature request related to a problem? Please describe.**
For finding any actor of any movie we need to google but why to do that every time

**Describe the solution you'd like**
we can have a python program which helps us to find full  info of movie with using the imdb library.

[2021-06-10 09:23] predator-24 opened #314 "Beautify Counting Days and improving bug (giving wrong answer for future days)"

[2021-06-10 09:30] Kabirdutt opened #315 "Improve the UI for the Tic Tac Toe game"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-10 09:34] predator-24 commented on #314
Also adding proper documentation.

[2021-06-10 11:15] Tejas1510 commented on #308
Go ahead @immortal-j

[2021-06-10 11:16] Tejas1510 commented on #315
Go ahead @Kabirdutt

[2021-06-10 11:18] Tejas1510 commented on #314
Go ahead @predator-24

[2021-06-10 11:18] Tejas1510 commented on #313
Go ahead @neelshah2409

[2021-06-10 11:21] #298 closed

[2021-06-10 13:19] richabh456 opened #320 "can i implement rock paper scissor game in python?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-10 15:09] banshita209 opened #322 "want to add QR code generation in JAVA"
**Is your feature request related to a problem? Please describe.**
I want to implement QR code generation in java for this project

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
I am a par

[2021-06-10 16:53] codeaholic-shub opened #323 "Drum Kit Game"
Is your feature request related to a problem? Please describe.
A "Drum Kit" Game in which I have used the Tech Stack "HTML,CSS and JAVASCRIPT"

Describe the solution you'd like
A clear and concise description of what you want to happen.

Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

Additional context
I am a Par

[2021-06-10 17:31] codeaholic-shub commented on #323
Hey @Tejas1510 ,
I want to work on this Drum Kit Project,
Kindly assign me as soon as possible !

[2021-06-10 18:30] devmalik7 commented on #320
i want to work in c on this issue

[2021-06-10 18:32] Tejas1510 commented on #299
@mitali-1703 Thanks for creating a issue

Just one thing mention only one thing in issue

here you have mention two things Analog Clock and Dinosaur game

So do that and so closing the issue

[2021-06-10 18:32] #299 closed

[2021-06-10 18:33] Tejas1510 commented on #300
@mitali-1703 Thanks for creating a issue

Just one thing mention only one thing in issue

here you have mention two things Analog Clock and Dinosaur game

So do that and so closing the issue

[2021-06-10 18:33] #300 closed

[2021-06-10 18:35] Tejas1510 commented on #322
Go ahead @banshita209

[2021-06-10 18:37] mitali-1703 opened #325 "Want to add Rock, Paper, Scissors game in JAVA"
Hey @Tejas1510 will you please assign me this issue under LGM-SOC'21 and also could you please add labels to it if possible??

[2021-06-10 18:38] Tejas1510 commented on #320
@richabh456 go ahead

[2021-06-10 18:38] mitali-1703 opened #326 "Want to add Analog clock in Javascript"
Hey @Tejas1510 will you please assign me this issue under LGM-SOC'21 and also could you please add labels to it if possible??

[2021-06-10 18:39] Kartikey0205 commented on #296
@Tejas1510  shall I proceed with this ?

[2021-06-10 18:39] Tejas1510 commented on #325
Go ahead @mitali-1703

[2021-06-10 18:40] Tejas1510 commented on #326
Go ahead @mitali-1703

[2021-06-10 18:40] Tejas1510 commented on #304
go ahead @Astitva7717

[2021-06-10 18:43] Kartikey0205 opened #327 "Wants to add a memory game in javascript projects"
@Tejas1510  please assign me this task under Lgmsoc'21

[2021-06-10 18:47] Kartikey0205 opened #328 "Wants to add Rock Paper Scissors Game in C language"
Hey @Tejas1510  , I want to add a Rock Paper Scissors game in C folder written  in C language
could you please assign me this under Lgm Soc'21

[2021-06-10 19:59] predator-24 opened #329 "Guess the colors in correct order Game"
Hey, this is a very interesting game, where we generate random color ordering and player needs to guess the color from start
till end in the correct order, else he looses the game.

![Screenshot (2)](https://user-images.githubusercontent.com/75033038/121589238-78578f80-ca54-11eb-8743-a15a3bc8ad9e.png)
![Screenshot (3)](https://user-images.githubusercontent.com/75033038/121589249-7ab9e980-ca54-11eb

[2021-06-10 20:44] rishabhrathore055 commented on #329
Hello @Tejas1510 please assign this issue me under LGM-SOC'21 and also could you please add labels to it if possible??

[2021-06-10 20:59] rishabhrathore055 opened #330 "Wants to add Number Guessing Game in C language"
Hello!! @Tejas1510 , I want to Add Number Guessing game in C folder written in C programing language
could you please assign me this under LGMSoc'21

[2021-06-11 02:36] Veeresh-Rex opened #333 "Improve UI of C card in services section"
### I'm submitting a
- bug report.
- UI Improvement

### Current Behavior:
- Hover on C card the border color is not proper showing
- Border color is different from Read More button
- UI of C card is not looking cool as compare to other cards

### Expected Behavior:
- The border color and read more should me same
- The color should be visible properly

I'm LGM-SOC21 participant please assign me th

[2021-06-11 02:36] MuhammadAbdullah-hash opened #334 "Battle-ship GUI game using tkinter, python"
**Describe the solution you'd like**
I would like to implement a GUI based battleship game in Tkinter using python. It will be a 2 player game where players
gonna guess the locations of each others ship and would hit him by clicking on each other grids. Scores would be incremented accordingly. The game would have multiple features like loading, saving an ongoing game, navigation of enemy ships, an

[2021-06-11 03:21] Pradhuman-singh5 commented on #322
I want to make a script for QR code using  javascript.  @Tejas1510 can you assign it to me

[2021-06-11 04:22] codeaholic-shub opened #336 "Simon Game"
Is your feature request related to a problem? Please describe.
I want to add "Simon Game" which is made by using HTML,CSS and JAVASCRIPT.

Additional context
I am a Participant of LGM-SOC21 ,So kindly assign this issue to me !
![Simon - Google Chrome 11-06-2021 09_50_48](https://user-images.githubusercontent.com/65807708/121630423-bd9eb000-ca9a-11eb-9593-8206b6793c23.png)

[2021-06-11 04:23] codeaholic-shub commented on #336
Hey @Tejas1510 ,
Kindly assign this issue to me ,
So ,I can work upon it as soon as possible !

[2021-06-11 04:24] MuhammadAbdullah-hash commented on #329
hi, @predator-24 I wanna make this game in python using tkinter. kindly assign me this issue

[2021-06-11 04:45] neelshah2409 opened #337 "All Information About Country"
**Is your feature request related to a problem? Please describe.**
How to get all the information about any country like capital ,languages, border area and all .We have wiki-pedia but instead of that our program can make the same thing.

**Describe the solution you'd like**
I would like to run a python script for this and I will use countryinfo library for that problem.

[2021-06-11 05:25] predator-24 commented on #329
hey, @rishabhrathore055 and @MuhammadAbdullah-hash this repo doesn't belongs to me, I have suggested the changes. You guys can contact @Tejas1510 bhaiya regarding it.

[2021-06-11 05:33] Rutuj-Runwal opened #338 "Improve Python Website Blocker"
**Is your feature request related to a problem? Please describe.**
Make the python Website blocker more robust by adding a UI and some real web-filtering to it.
Also imporve its readme.

**Describe the solution you'd like**
Will be using Tkinter or Python-eel for the UI

~~**Describe alternatives you've considered**~~
~~A clear and concise description of any alternative solutions or features you'v

[2021-06-11 05:39] Rutuj-Runwal opened #339 "Imporve UI of ReactJS-TodoList"
Please Assign @Tejas1510

[2021-06-11 05:42] toth2000 opened #340 "Video Demo link not working"
# LGM-SOC'21 Contribution

### I'm submitting a
- [x] bug report.
- [ ] feature request.

### Current Behaviour:

The video demo link in the Readme.md file of  Java/AutomatingAmazon is invalid.

### Expected Behaviour:

The link should be working.

### Steps to reproduce:

- Go to the directory: Hacking-Scripts/Java/AutomatingAmazon/
- Click on the endpoint (Under the Output Section)

### Snapshot

[2021-06-11 05:44] Pradhuman-singh5 opened #341 "Want to make a Face recognition Script using JavaScript under LGM-SOC'21"
I want to make a script of Face recognition which every one can use and test in there browser without any additional install.
@Tejas1510 , Can you assign me this issue under LGM-SOC'21

[2021-06-11 05:48] harsh6768-svg opened #343 "can i implement rock paper scissor game in angular framework?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-11 06:04] harsh6768-svg commented on #343
@Tejas1510 can I work on this issue ??

[2021-06-11 07:41] Tejas1510 commented on #338
Go ahead @Rutuj-Runwal

[2021-06-11 07:48] Tejas1510 commented on #337
Go ahead @neelshah2409

[2021-06-11 08:11] GowthamGoush commented on #328
@Kartikey0205 you may start working on it. Go ahead.

[2021-06-11 08:18] GowthamGoush commented on #329
Hey, @predator-24, that's quite an interesting game, but could you please elaborate about the tech stack that are you gonna use?

[2021-06-11 08:22] GowthamGoush commented on #330
Hey, @rishabhrathore055, you may start working on it. Good luck 👍

[2021-06-11 08:23] rishabhrathore055 commented on #330
Thankyou So Much!!

[2021-06-11 08:32] Kartikey0205 commented on #296
@GowthamGoush  there is no date and time feature in Notes App please assign me this
Date and time is so important feature because we can track the activity of each note .

[2021-06-11 08:33] GowthamGoush commented on #334
The issue has been assigned to you @MuhammadAbdullah-hash. You may start working on it. Good luck 👍

[2021-06-11 08:58] RaveenaBhasin commented on #336
Hey @codeaholic-shub you may start working on the issue. All the best!

[2021-06-11 09:04] Umesh-01 opened #345 "Badge links in README.md file"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/83420185/121660407-dc17a200-cac0-11eb-934e-841ba4d05c28.png)
Badge (in the above image) doesn't have any links in the main README.md file. For example when we click any of these badge then it takes us to this type of webpages (see below) which is of  **NO** use.

![image](https://u

[2021-06-11 09:05] RaveenaBhasin commented on #343
@harsh6768-svg You may start working on the issue, Good Luck!

[2021-06-11 09:05] Umesh-01 commented on #345
Can I work on this issue??

[2021-06-11 09:08] predator-24 commented on #336
Hey @RaveenaBhasin i asked for assignment before @codeaholic-shub and i'am also participating in lgmsoc 21, So I should be the one doing this

[2021-06-11 09:16] RaveenaBhasin commented on #336
@predator-24 Can you please tell send the link of the issue where you asked for assignment ?

[2021-06-11 09:17] predator-24 commented on #336
https://github.com/Tejas1510/Hacking-Scripts/issues/329

[2021-06-11 09:18] #304 closed

[2021-06-11 09:19] RaveenaBhasin commented on #336
@codeaholic-shub I'm really sorry, I'm new to this project and this issue was earlier created by @predator-24. I'm assigning it to @predator-24, Hope you understand!

[2021-06-11 09:20] predator-24 commented on #329
@GowthamGoush I'am not sure what do you mean by tech stack but I'am using Jquey, html and css

[2021-06-11 09:21] RaveenaBhasin commented on #329
@predator-24 You may start working on this issue, Good luck!

[2021-06-11 09:23] supzi-del opened #346 "Javascript- Tip calculator"
**Describe the solution you'd like**
This script consists of user input--> total bill amount and bill percent and it calculates the tip amount and the total bill.

[2021-06-11 09:27] codeaholic-shub commented on #336
@RaveenaBhasin ,
Its Okay !

[2021-06-11 09:28] #336 closed

[2021-06-11 11:14] #340 closed

[2021-06-11 11:23] GowthamGoush commented on #345
It seems like badges of programming languages does not have any issue since they redirect to appropriate web pages. However, you may implement the rest of them. Good luck 👍

[2021-06-11 11:26] GowthamGoush commented on #346
Go ahead @supzi-del . Good luck 👍

[2021-06-11 11:26] RaveenaBhasin commented on #333
@Veeresh-Rex you may start working on the issue, Good luck!

[2021-06-11 11:31] Itashamodi commented on #307
assign me this

[2021-06-11 11:59] Esha-Sherring commented on #346
Can you assign this issue to me . I am  a LGMSOC'21 participant.

[2021-06-11 12:03] amanjha8100 commented on #307
Do this in python first @Debashish-hub !

[2021-06-11 12:04] GowthamGoush commented on #346
@supzi-del has been assigned as of now, but if the person fails to do it, say within a week, I'll assign it to you. Feel free to create your own issues, and we will assign them.

[2021-06-11 12:23] supzi-del commented on #346
Working on it👍

[2021-06-11 12:55] akash435 opened #351 "TIC TAC TOE Game (in python)"
Want to add TIC TAC TOE game in python.

The game will be single player mode.

The player has to play with computer , and computer also makes optimal moves by analyzing the moves of player.

The game will be totally played on console by running the source code.

[2021-06-11 12:56] akash435 commented on #351
@Tejas1510 , can you please assign me this under LGM SOC, I want to add this TIC TAC TOE game under python folder.

[2021-06-11 13:05] thegautamkumarjaiswal opened #352 "Want to add JARVIS python script"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-11 13:06] thegautamkumarjaiswal commented on #352
Please assign me this issue. @Tejas1510

[2021-06-11 13:08] richabh456 commented on #320
i created this issue sir and you  assigned me

[2021-06-11 13:09] richabh456 commented on #320
issue no 320

[2021-06-11 13:10] Shaishav0507 opened #354 "Add more git commands in Readme File"
Hey @Tejas1510
I would like to add more git commands in the readme file, which I feel are necessary  and need to be taken care of.
Thanks

[2021-06-11 13:16] Shaishav0507 opened #356 "Add Whatsapp-Message-Automation in Python"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Hey @Tejas1510
I would like to add the code for the whatsapp-message-automation. Please assign me.
Thanks.

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-06-11 13:19] Debashish-hub commented on #307
Ok sure

[2021-06-11 13:26] KishkinJ10 commented on #143
Can I also work on this ? I am LGM-SOC 21 Participant

[2021-06-11 13:28] Umesh-01 opened #357 "Add a feature for COVID cases using Web Scraping"
**Is your feature request related to a problem? Please describe.**
I want to add a python script for **COVID-19** cases to check the number of cases in any country. I will be using web scraping concept to fetch the data from a website.

**Describe the solution you'd like**
The user will enter the country name and the script will fetch the data from a website using the concept of **Web scraping** t

[2021-06-11 13:31] Umesh-01 commented on #357
Should I work on this??

[2021-06-11 13:52] Paras0-7 opened #359 "Voice Assistant using Python"
**Describe the solution you'd like**
I want to add a voice assistant using python libraries speech_recognition and pyaudio.
@Tejas1510 , Can you assign me this issue under LGM -SOC'21.

[2021-06-11 14:01] akash435 opened #360 "CaveMan-The Saviour game(in Android Studio)"
Want to add a game created on android studio platform using java language.
It is 2D - physics based game created with simple graphics.
In this game the player have many levels to play and in each level player need to reach the maximum score by killing the enemies.
Also in each levels , the player need to deal with different stages of enemy.

[2021-06-11 14:03] akash435 commented on #360
@Tejas1510 , can you please assign me this under LGM SOC, I want to add this game under Android Studio Scripts.

here is the screenshot of the first look of the game when opened.

[2021-06-11 14:04] akash435 commented on #360
@Tejas1510 , can you please assign me this under LGM SOC, I want to add this game under Android Studio Scripts.

here is the screenshot of the first look of the game when opened,
![2](https://user-images.githubusercontent.com/57003737/121698749-eef39c00-caeb-11eb-8da6-da839c09e5cc.jpg)

[2021-06-11 14:09] divesh-giri opened #361 "Facial Recognition using OpenCV in Python"
I want to add a Facial Recognition script using OpenCV in Python.
@Tejas1510 , Can you assign me this issue under LGM-SOC'21.

[2021-06-11 14:12] Paras0-7 commented on #359
Thanks @amanjha8100

[2021-06-11 14:17] RaveenaBhasin commented on #361
@divesh-giri Go ahead, Good luck!

[2021-06-11 14:23] RaveenaBhasin commented on #351
@akash435 Go ahead, Good luck!

[2021-06-11 14:56] #323 closed

[2021-06-11 15:00] Umesh-01 commented on #359
@amanjha8100  @Tejas1510
Sir what is the status of this Issue??
Should I work on this??

[2021-06-11 15:05] Paras0-7 commented on #359
Hey @Umesh-01 , I am currently working on this issue.

[2021-06-11 15:05] Umesh-01 commented on #322
Are u working on it @banshita209??

[2021-06-11 15:07] Umesh-01 commented on #322
@Tejas1510 Sir assign this issue to him, like me others can also think it is not assigned to anyone...

[2021-06-11 15:13] Umesh-01 opened #362 "Python automation to get jokes, quotes, etc."
**Is your feature request related to a problem? Please describe.**
This feature will help us to get jokes, quotes, etc. using some modules.

**Describe the solution you'd like**
I want to get a joke or quote then it will show us the one. And even If I want to get a poem from author William Shakespeare then I will just type the name and It will show us one poem randomly from the internet using any

[2021-06-11 15:14] Umesh-01 commented on #362
May I work on this issue??

[2021-06-11 15:17] Umesh-01 commented on #359
okk go ahead @Paras0-7 👍

[2021-06-11 15:21] Paras0-7 commented on #359
Thanks @Umesh-01

[2021-06-11 15:51] RaveenaBhasin commented on #352
@thegautamkumarjaiswal Go ahead, Best of luck!

[2021-06-11 16:00] #352 closed

[2021-06-11 16:11] marizvi commented on #273
Hi,
please assign me this issue under LGMSOC'21

[2021-06-11 16:27] ShivaSankeerth opened #363 "Towers of Hanoi Using Python"
Hi,

I would like to implement the famous 'Towers of Hanoi' in python language.

[2021-06-11 16:41] RaveenaBhasin opened #364 "Adding Relevant Images to Python scripts"
As the same images are being used for every script so in order to enhance the UI, add relevant images for each Python script.

[2021-06-11 16:48] RaveenaBhasin opened #365 "Adding Relevant Images to Javascript, Java, ReactJS scripts"
s the same images are being used for every script so in order to enhance the UI, add relevant images for each Javascript, Java, ReactJS script.

[2021-06-11 16:52] RaveenaBhasin commented on #356
@Shaishav0507 This script already exists in the project.

[2021-06-11 16:54] #337 closed

[2021-06-11 16:56] RaveenaBhasin commented on #307
@Debashish-hub Make separate PR's for Python and Javascript scripts also create a new branch every time you create a PR.

[2021-06-11 17:00] #345 closed

[2021-06-11 17:05] MuhammadAbdullah-hash commented on #334
thanks 👍🏻

[2021-06-11 17:52] akash435 commented on #351
@RaveenaBhasin , I have created a pull request for this issue, please check it.

[2021-06-11 18:08] akash435 commented on #351
@RaveenaBhasin , I have created a pull request for this issue, please check it.

[2021-06-11 18:15] thegautamkumarjaiswal commented on #352
Thank you! @RaveenaBhasin

[2021-06-11 18:32] ambalika24 commented on #339
@Tejas1510 ,can you please assign me this under LGM SOC?

[2021-06-11 18:38] starrohan999 commented on #365
@RaveenaBhasin  please assign it to me.
I will try my best

[2021-06-11 18:41] starrohan999 opened #368 "Feature: add copyright section in footer of every page"
add copyright section in footer of every page

[2021-06-11 18:41] starrohan999 commented on #368
please assign it to me

[2021-06-11 18:57] Rutuj-Runwal commented on #339
@ambalika24 Actually I am doing it

[2021-06-11 19:10] Debashish-hub commented on #307
I have created only in python

[2021-06-11 20:57] Kartikey0205 opened #371 "Wants to add Dinosaur Game in JavaScript !"
Hey @Tejas1510 @GowthamGoush @RaveenaBhasin  please assign me this !

[2021-06-11 20:58] Kartikey0205 opened #372 "Adding additional feature in Notes App (DATE AND TIME Feature)"
Please assign me this @GowthamGoush under LGM-SOC'21

[2021-06-11 21:34] Kartikey0205 opened #373 "Wants to make a Stopwatch in JavaScript"
please assign me this @GowthamGoush ! @RaveenaBhasin  LGM-SOC'21

[2021-06-11 21:36] Kartikey0205 opened #374 "Wants to create a calculator in JavaScript"
please assign me this @RaveenaBhasin please! LGM-SOC'21

[2021-06-11 21:37] Kartikey0205 opened #375 "wants to create a C program for guess the number!"
please assign me this @RaveenaBhasin please under LGM-SOC'21

[2021-06-12 02:07] akash435 opened #376 "Dictionary (in Python)"
Want to add a Dictionary created under tkinter GUI in python.
In this for data, I will be using a json file which will be imported in python code.
In this code I will also be implementing the case
 i.) giving multiple meaning is there are many meanings
 ii.) giving meaning of closest word, if entered something wrong.

The dicitonary gui windows will look like this,
![1](https://user-images.githubu

[2021-06-12 02:08] akash435 commented on #376
@Tejas1510 , Please assign me this under LGM SOC, I want to add a tkinter GUI dictionary in python folder.

[2021-06-12 02:47] RaveenaBhasin commented on #364
@starrohan999 Good luck!

[2021-06-12 02:53] RaveenaBhasin commented on #375
@Kartikey0205 This issue already exists.

[2021-06-12 02:53] #375 closed

[2021-06-12 02:56] #351 closed

[2021-06-12 02:58] #346 closed

[2021-06-12 03:04] #356 closed

[2021-06-12 03:19] mitali-1703 commented on #371
Hey @Tejas1510  I would love to contribute to this. Could you please assign me this issue under LGM-SOC'21??

[2021-06-12 03:23] mitali-1703 opened #377 "Want to create Snake, Water, Gun game in python"
Hey @Tejas1510 @GowthamGoush please assign me this issue under LGM-SOC'21.

[2021-06-12 03:27] mitali-1703 opened #378 "Want to add Custom Calculator in java"
Hey @Tejas1510 @GowthamGoush please assign me this issue under LGM-SOC'21.

[2021-06-12 03:28] mitali-1703 opened #379 "Want to create number guessing game in C"
Hey @Tejas1510 @GowthamGoush please assign me this under LGM-SOC'21.

[2021-06-12 03:32] Kartikey0205 commented on #377
Hey @Tejas1510 @GowthamGoush please assign me this !!

[2021-06-12 03:33] Kartikey0205 commented on #379
Hey @Tejas1510 @GowthamGoush please assign me this under LGM-SOC'21!!

[2021-06-12 03:33] banshita209 commented on #322
yes I am working on it..

[2021-06-12 03:35] Kartikey0205 commented on #330
@GowthamGoush  pleas assign me this !

[2021-06-12 03:44] #379 closed

[2021-06-12 03:46] Kartikey0205 commented on #372
@RaveenaBhasin please assign this !

[2021-06-12 03:52] mitali-1703 opened #381 "Want to create Rock, Paper, Scissors game in java"
@Tejas1510 @GowthamGoush please assign me this issue under LGM-SOC'21.

[2021-06-12 04:08] rishabhrathore055 commented on #330
@Kartikey0205 i already working on this there is some issue with Markdown file the project have 2 Markdown file

[2021-06-12 04:18] #381 closed

[2021-06-12 04:21] mitali-1703 opened #382 "Want to add Snake game in JS"
@Tejas1510 @GowthamGoush please assign me this issue under LGM-SOC'21.

[2021-06-12 04:49] GowthamGoush commented on #378
Good luck @mitali-1703 👍

[2021-06-12 04:50] GowthamGoush commented on #382
Have been assigned to @mitali-1703. Good luck 👍

[2021-06-12 05:24] neelshah2409 opened #386 "Facebook messenger automation"
**Is your feature request related to a problem? Please describe.**
why to type a message our self let it be done by just writing the script.

**Describe the solution you'd like**
I would write a script using pyautogui and time library which will do the message automatically .

[2021-06-12 05:42] RaveenaBhasin commented on #372
@Kartikey0205 Under which language you are going to implement it?

[2021-06-12 05:44] Kartikey0205 commented on #372
@RaveenaBhasin  in java script !

[2021-06-12 05:50] GowthamGoush commented on #372
Alright, go ahead, @Kartikey0205. Good luck 👍

[2021-06-12 06:04] harsh6768-svg opened #388 "Github Follow Unfollow Bot using python"
Hi I am member of LGMSOC
I want to add a Github follow unfollow bot in python section can i work on these
it will randomly follow or unfollow all the users whatever we provide in the database
means the username of whatever user we want we can add in the list and then follow or unfollow through our bot

Can I work on this??

![Screenshot (68)](https://user-images.githubusercontent.com/68609382/1217

[2021-06-12 06:09] RaveenaBhasin commented on #386
@neelshah2409 Add the Readme acc. to #145

[2021-06-12 06:42] mitali-1703 opened #391 "Want to add Guess the Number game in python"
@Tejas1510 @GowthamGoush please assign me this issue under LGM-SOC'21

[2021-06-12 06:54] GowthamGoush commented on #391
Hey @mitali-1703, I really appreciate your enthusiasm for contributing to this project, but focus on the issues you have created already. As of now, I'll make it open for other participants to work on.

[2021-06-12 06:55] mitali-1703 commented on #391
Sure no prob @GowthamGoush

[2021-06-12 06:58] #386 closed

[2021-06-12 06:59] harsh6768-svg commented on #388
Heyy @GowthamGoush what happen is the project not appropriate??

[2021-06-12 07:03] GowthamGoush commented on #388
I don't think I'm the right person to judge; I'll ask the project admin @Tejas1510.

[2021-06-12 07:22] Kartikey0205 commented on #391
@GowthamGoush  if you don't mind I wants to work over it ! Please assign me this

[2021-06-12 07:30] GowthamGoush commented on #391
It seems like you have been assigned plenty of issues. So, please focus on them.

[2021-06-12 08:07] neelshah2409 opened #394 "Grammar Correction"
**Is your feature request related to a problem? Please describe.**
Many time while typing we make grammar mistakes so to avoid mistakes we need extra work.

**Describe the solution you'd like**
I would like to write a python script for this problem which will help to correct grammar and for that I will use gingerit library.

[2021-06-12 08:17] dhruv-varshney commented on #391
@GowthamGoush if you don't mind I wants to work over it ! Please assign me this

[2021-06-12 08:21] dhruv-varshney commented on #377
Hey @Tejas1510 @GowthamGoush please assign me this issue

[2021-06-12 08:21] GowthamGoush commented on #391
The issue has been assigned to you @dhruv-varshney. Good luck 👍

[2021-06-12 08:22] #333 closed

[2021-06-12 09:18] atharva21-stack opened #397 "Want to Add color code generator/picker in React Js"

[2021-06-12 09:18] atharva21-stack commented on #397
Can I add this feature?

[2021-06-12 09:51] GowthamGoush commented on #397
@atharva21-stack, you may start working on it. Good luck 👍

[2021-06-12 10:44] #371 closed

[2021-06-12 11:36] starrohan999 commented on #364
Thank you for assign this task to me.
I will give my best.

[2021-06-12 12:01] #391 closed

[2021-06-12 12:34] ArshWalker opened #402 "Ping Pong Game using JS"
**Is your feature request related to a problem? Please describe.**
Ping Pong Game is a web app built using JS.

In this, you can control your side using a stick while playing against computer. And your score is managed.

@Tejas1510 Please assign me this issue.

[2021-06-12 13:08] #341 closed

[2021-06-12 13:10] GowthamGoush commented on #402
You may start working on it @ArshWalker. Good luck 👍

[2021-06-12 13:53] dhruv-varshney commented on #338
Please assign this issue to me.

[2021-06-12 13:55] harsh6768-svg commented on #388
@Tejas1510 please confirm can i work??

[2021-06-12 14:03] Rutuj-Runwal commented on #338
@dhruv-varshney I am workung on this one already

[2021-06-12 14:07] dhruv-varshney opened #404 "Twitter Data Streaming Using Python"

[2021-06-12 14:29] #309 closed

[2021-06-12 16:30] #394 closed

[2021-06-12 16:31] #376 closed

[2021-06-12 16:39] neelshah2409 opened #407 "Caterpillar game GUI"
**Is your feature request related to a problem? Please describe.**
We all love to play games so why not we build small games using python.

**Describe the solution you'd like**
I would like to write a python script for that using turtle and random library and the speed of caterpillar will increase as per time and if it gets out then game will end and result will be displayed.

[2021-06-12 16:46] Saup21 opened #409 "Want to create a calculator app in javascript"
### There was no calculator app in js folder so want to add one there

[2021-06-12 16:54] Umesh-01 opened #411 "Want to make a GUI Calculator with currency convertor in Java"
**Is your feature request related to a problem? Please describe.**
Yes. I want to make a calculator project using **Swings** in **Java**

**Describe the solution you'd like**
I will create a standard calculator like we have in windows but not the scientific calculator. It will also contain a currency converter to convert currencies from Indian Rupees to another units. The GUI will be simple and at

[2021-06-12 16:55] Umesh-01 commented on #411
@Tejas1510 sir assign me so that I can start working on this project...

[2021-06-12 17:14] Umesh-01 opened #413 "Want to make a Tic Tac Toe game using Java"
**Is your feature request related to a problem? Please describe.**
As we know for fun tic-tac-toe game is not bad till now. It is famous even now.😄 So, why to not implement in **Java**...

**Describe the solution you'd like**
I want to create a **tic-tac-toe** game using **Java** programming.

[2021-06-12 17:19] Shaishav0507 commented on #354
Can I work on it

[2021-06-12 17:19] Shaishav0507 commented on #354
@Tejas1510

[2021-06-12 17:19] Umesh-01 commented on #413
@Tejas1510 sir assign me this issue so that I can start working on this game

[2021-06-12 17:23] codeaholic-shub opened #414 "Madlibs Using Python"
**Is your feature request related to a problem? Please describe.**
Hello @RaveenaBhasin ,
I wanted to make beginner friendly project using python ,
Kindly assign this issue to me !

[2021-06-12 19:18] ishitakapoor26 opened #419 "Phrase Guessing Game in Python"
Phrase Guessing Game in Python

[2021-06-12 19:18] ishitakapoor26 commented on #419
@Tejas1510 pls assign this issue to me.

[2021-06-12 19:25] dhruv-varshney commented on #338
ok since it was not assigned so I ask.

[2021-06-13 03:13] #359 closed

[2021-06-13 03:18] GowthamGoush commented on #407
Go ahead, @neelshah2409. Good luck 👍

[2021-06-13 03:18] RaveenaBhasin commented on #409
@Saup21 Issue already exists. #374

[2021-06-13 03:18] #409 closed

[2021-06-13 03:19] RaveenaBhasin commented on #419
@ishitakapoor26 Can you please elaborate more on what is going to be the input and output in this game?

[2021-06-13 03:21] GowthamGoush commented on #413
Have been assigned to you, @Umesh-01. Good luck 👍

[2021-06-13 03:23] GowthamGoush commented on #411
Go ahead, @Umesh-01.

[2021-06-13 03:43] #360 closed

[2021-06-13 04:05] codeaholic-shub opened #424 "HangMan using Python"
**Is your feature request related to a problem? Please describe.**
Hey @RaveenaBhasin ,
I want to make a HangMan using Python,
Kindly Assign this issue to me !

[2021-06-13 04:06] codeaholic-shub opened #425 "Binary Search Using Python"
**Is your feature request related to a problem? Please describe.**
Hey @RaveenaBhasin ,
I want to make Binary Search using Python,
Kindly Assign this issue to me!

[2021-06-13 04:08] codeaholic-shub opened #426 "Minesweeper Game"
**Is your feature request related to a problem? Please describe.**
Hey @RaveenaBhasin ,
I want to make minesweeper game using python ,
Kindly assign this issue to me !

[2021-06-13 04:10] codeaholic-shub opened #427 "Photo Editing in Python"
**Is your feature request related to a problem? Please describe.**
Hey @RaveenaBhasin ,
I want to make photo editing in Python,
Kindly assign this issue to me !

[2021-06-13 04:12] codeaholic-shub opened #428 "Markov Chain Text Composer"
**Is your feature request related to a problem? Please describe.**
Hey @RaveenaBhasin ,
I want to make Markov Chain Text Composer using python,
Kindly assign this issue to me !

[2021-06-13 04:34] ishitakapoor26 commented on #419
@RaveenaBhasin Sure!

[2021-06-13 04:42] ishitakapoor26 commented on #419
@RaveenaBhasin
There's a phrase which is to be guessed appears on the window in the dashed format. Now, after that program asks for team member with whom you want to play or play with computer. A random play wheel I have implemented. During their turn, every player spins the wheel to determine a prize amount and
a.) If the wheel lands on a cash square, players may do one of three actions:
  1.) Gu

[2021-06-13 04:54] Paras0-7 opened #429 "Minor fixes in readme"
Add some more information in the readme of Gwen- Voice Assistant in python scripts.
@Tejas1510 @RaveenaBhasin Can you assign me this issue under LGM -SOC'21.

[2021-06-13 05:00] mitali-1703 opened #430 "Want to add Flappy Bird game in Pyhton"
@Tejas1510 @RaveenaBhasin please assign me this under LGM-SOC'21

[2021-06-13 05:02] mitali-1703 opened #431 "Want to add moving car animation in JS"
@Tejas1510 @RaveenaBhasin please assign me this under LGM-SOC'21

[2021-06-13 05:03] akash435 opened #432 "Caterpillar Game"
Want to add Caterpillar game in python.

The game will be single player mode.

here i will be using the turtle module to create gui and all

[2021-06-13 05:04] akash435 commented on #432
@RaveenaBhasin , plaease assign this to me under LGM SOC, want to add this game under python script

[2021-06-13 05:06] #432 closed

[2021-06-13 05:10] akash435 opened #433 "Bubble Catcher Game"
Want to add Bubble Catcher game in python.

The game will be single player mode.

The player can catch as many as bubble he/she wants, and score increases accordingly.

The gui window will be under using tkinter module

[2021-06-13 05:11] akash435 commented on #433
@RaveenaBhasin , please assign this to me under LGM SOC, want to add this game script in python script.

[2021-06-13 05:20] Kartikey0205 commented on #431
@mitali-1703 let other also give time to contribute you may work on your previous issue plz @Tejas1510 @RaveenaBhasin @GowthamGoush

[2021-06-13 05:21] Kartikey0205 commented on #430
@mitali-1703 let other also give time to contribute you may work on your previous issue plz @Tejas1510 @RaveenaBhasin @GowthamGoush

[2021-06-13 05:26] agamgupta2015 commented on #413
@GowthamGoush  please assign this issue to me i have done  it in c++ language.

[2021-06-13 05:32] mitali-1703 commented on #430
Thnx for reminding me @Kartikey0205 but you too have 6-8 issues pending.

[2021-06-13 05:32] mitali-1703 commented on #431
Thnx for reminding me @Kartikey0205 but you too have 6-8 issues pending.

[2021-06-13 05:34] Kartikey0205 commented on #431
Yeah I know that's why I had not ask them to assign it to me , I had said to OTHER'S

KINDLY SEE PROPERLY

[2021-06-13 05:36] Kartikey0205 commented on #430
Thnx for reminding me @Kartikey0205 but you too have 6-8 issues pending.

Yeah I know that's why I had not ask them to assign it to me , I had said to OTHER'S

KINDLY SEE PROPERLY

[2021-06-13 05:38] mitali-1703 commented on #431
Apologies @Kartikey0205

[2021-06-13 05:39] mitali-1703 commented on #430
Apologies @Kartikey0205

[2021-06-13 06:02] GowthamGoush commented on #430
- Actually, a participant can work on at most 2 issues at a time, but it was quite late when we came to know this.
- It's totally fine that you people work on more than 2 issues now but make sure to complete them or let newcomers work on it.
- Also, if you create new issues despite working on more than 2 issues, then it is our duty to assign them those looking for new issues to work on.

[2021-06-13 06:05] GowthamGoush commented on #433
Go ahead, @akash435. Good luck 👍

[2021-06-13 06:15] RaveenaBhasin commented on #425
@codeaholic-shub Since you have 3 issues already assigned, I would like to make this issue open for beginners(who are facing difficulty in finding the issues).

[2021-06-13 06:17] mitali-1703 commented on #430
Ya I understood it sorry for acting wierd that time

[2021-06-13 06:24] RaveenaBhasin commented on #419
@ishitakapoor26 Ok great, Go ahead!

[2021-06-13 06:41] #402 closed

[2021-06-13 06:45] GowthamGoush commented on #430
That's completely fine @mitali-1703. Just keep moving forward and good luck 🙌

[2021-06-13 07:11] ArshWalker opened #435 "Catch the Insect Game using JS"
Hey @GowthamGoush,
This is a funny game built using JavaScript.
Basically, you can select an insect and you have to catch as much as you can and the score is being calculated.

Please assign me this... @Tejas1510

[2021-06-13 07:23] #429 closed

[2021-06-13 07:26] #307 closed

[2021-06-13 07:28] ishitakapoor26 commented on #430
@RaveenaBhasin @Tejas1510 pls assign this issue to me.

[2021-06-13 07:31] ishitakapoor26 commented on #419
@RaveenaBhasin @Tejas1510 pls review my pr.

[2021-06-13 07:33] ishitakapoor26 commented on #425
@RaveenaBhasin pls assign this issue to me.

[2021-06-13 07:36] ishitakapoor26 commented on #419
@RaveenaBhasin just asking no offense! I have used json files too in it so still will it be level2 label?

[2021-06-13 07:50] Paras0-7 opened #438 "Python Script to get a map of any location."
This python script will get the map of the location provided by the user.
@Tejas1510 @RaveenaBhasin Can you assign me this issue under LGM -SOC'21.

[2021-06-13 09:37] tanvi355 opened #441 "Quick sort visualizer in Python"
**Is your feature request related to a problem? Please describe.**
Understanding the working of algorithms by only reading can be difficult, but seeing them in action does help in learning them easily.

**Describe the solution you'd like**
A visualizer made using Python to see the working of the quick sort algorithm.

**Describe alternatives you've considered**
__Entries:__ range of numbers(min. a

[2021-06-13 09:38] tanvi355 commented on #441
Mentors, please assign this to me.

[2021-06-13 09:47] akash435 opened #442 "Pressed Key Detector"
Want to add this code under C language.

In this code, the program detects which key on the keyboard is pressed, either function key is pressed or normal key is presses.
In additon to this scan code everytime when a  key pressed.

language : C

[2021-06-13 09:48] akash435 commented on #442
@Tejas1510 , @RaveenaBhasin , please assign this to me under LGM SOC, want to add this under C language Scripts.

[2021-06-13 09:54] LasyaGanesuni opened #443 "Covid-19 Tracker Application using Python"
**Title**: Covid-19 Tracker Application using Python
**Purpose** : I want to create a Covid-19 Tracker Application using Python. The aim of this project is to track the Covid-19 cases across the world and to display them graphically. This application is built using four different python libraries they are tkinter for Graphical User Interface, matplotlib to show data graphically, covid to get the C

[2021-06-13 10:14] Shaishav0507 commented on #354
@RaveenaBhasin can I go ahead with this issue ?

[2021-06-13 10:21] Umesh-01 commented on #362
@Tejas1510 @RaveenaBhasin pls check my PR...

and mam/sir if you don't mind, can u pls review this issue. I think it should have advance level more than level 2. I have created each file and a README.md file to explain the working of each. 🙂

[2021-06-13 10:27] rishabhrathore055 opened #445 "want to add Basic Calculator in python"

[2021-06-13 10:27] rishabhrathore055 commented on #445
@GowthamGoush pls assign me this issue.

[2021-06-13 10:57] #407 closed

[2021-06-13 11:18] GowthamGoush commented on #443
That's a cool idea, @LasyaGanesuni. You have been assigned this issue, and you may start working on it @LasyaGanesuni.

[2021-06-13 11:22] GowthamGoush commented on #435
You may start working on it, @ArshWalker. Good luck 👍

[2021-06-13 11:23] GowthamGoush commented on #441
Go ahead, @tanvi355. Good luck 👍

[2021-06-13 11:26] GowthamGoush commented on #425
Go ahead, @ishitakapoor26. Good luck 👍

[2021-06-13 11:27] LasyaGanesuni commented on #443
Thank you

[2021-06-13 11:56] #296 closed

[2021-06-13 11:56] hr1shu opened #446 "Password Checker script"
**Is your feature request related to a problem? Please describe.**
This script checks how many times your password has been hacked or pawned.

**Describe the solution you'd like**
I have used a paid API of website https://haveibeenpwned.com/ and used my python skills to develop

 a script that shows you how many times a password keyword has been under hacker radars.

**Describe alternatives you've

[2021-06-13 12:40] DhirajChauhan40 commented on #445
@GowthamGoush Hi, I would like to work on this issue under LGM SOC'21.

[2021-06-13 12:42] DhirajChauhan40 commented on #430
Hi, I would like to work on this issue under LGM SOC'21.

[2021-06-13 12:43] DhirajChauhan40 commented on #368
Hi, I would like to work on this issue under LGM SOC'21.

[2021-06-13 12:43] rishabhrathore055 commented on #445
@DhirajChauhan40 find another issues

[2021-06-13 12:43] DhirajChauhan40 commented on #368
@Tejas1510 @GowthamGoush
Hi, I would like to work on this issue under LGM SOC'21.

[2021-06-13 12:51] Jagannath8 commented on #425
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 12:52] Jagannath8 opened #447 "Brick Breaker Game"
Title: Brick Breaker Game

LGM-SOC'21: Participant

Description: I would like to Implement Python libraries to create this game. Please assign this issue to me.

[2021-06-13 12:56] DhirajChauhan40 commented on #445
@rishabhrathore055 Bruh
im new to open source

[2021-06-13 13:13] DhirajChauhan40 opened #449 "Mad Libs Generator"

[2021-06-13 13:14] DhirajChauhan40 commented on #449
@Tejas1510 @GowthamGoush Hi, I would like to work on this issue under LGM SOC'21.

[2021-06-13 13:26] Jagannath8 commented on #447
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 13:56] akash435 commented on #433
@GowthamGoush , you just added label, please assign to me also.

[2021-06-13 14:32] gprateek015 opened #450 "nQueens with C++"
In a given square board of size n, the program will return the possible boards with maximum queens placed, possible in the board.
I want to submit this under lgm-soc'21

[2021-06-13 14:57] YOGESH256 opened #451 "AnimeJIn"
AnimeJin

Problem: A   anime recommendation  Generator
// This will a huge help for people who watch anime and cannot find one. like me 😊.

Solution : I will  use any API like JikanAPI or myanimelistAPI to categorise  anime  based on rating/randomness/genre and so on...

LGM-SOC'21 : Participant

Please assign me this.

[2021-06-13 15:12] richabh456 opened #452 "can i implement hangman game in python?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-13 15:16] Umesh-01 commented on #362
@Tejas1510 sir pls close this issue, PR is already merged...

[2021-06-13 15:17] richabh456 opened #454 "can i implement guessing the number game in python?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-13 15:33] YOGESH256 commented on #451
Mentors ,Pls assign me this issue...

[2021-06-13 15:52] #374 closed

[2021-06-13 15:54] #433 closed

[2021-06-13 15:59] #361 closed

[2021-06-13 16:08] GowthamGoush commented on #442
Have been assigned to you, @akash435. Good luck 👍

[2021-06-13 16:10] GowthamGoush commented on #451
Could you please elaborate on the technology that you will be using?

[2021-06-13 16:11] GowthamGoush commented on #449
Could you please elaborate on the technology that you will be using?

[2021-06-13 16:12] GowthamGoush commented on #447
Go ahead, @Jagannath8. Good luck 👍

[2021-06-13 16:15] RaveenaBhasin commented on #452
@richabh456 Issue already exists.

[2021-06-13 16:15] #452 closed

[2021-06-13 16:16] RaveenaBhasin commented on #449
@DhirajChauhan40 If you are going to implement it in Python then the issue already exists.

[2021-06-13 16:18] RaveenaBhasin commented on #454
@richabh456 Number guessing game is already present.

[2021-06-13 16:18] #454 closed

[2021-06-13 16:18] GowthamGoush commented on #446
Could you please elaborate on the technology that you will be using?

[2021-06-13 16:24] GowthamGoush commented on #430
Go ahead, @DhirajChauhan40. Good luck 👍
@ishitakapoor26, since you are already working on 2 issues, I have assigned this issue to the above contributor.

[2021-06-13 16:33] DhirajChauhan40 commented on #449
@RaveenaBhasin @GowthamGoush I am good with both CPP and python but since in python its already there i can implement in CPP

[2021-06-13 16:42] YOGESH256 commented on #451
Yess
I will be using node and EJS ,HTML, CSS  JQuery .

[2021-06-13 16:43] Shaishav0507 opened #459 "Snakes And Ladders in C++"
Hey @Tejas1510 @RaveenaBhasin
I would like to add snakes and ladders game in C++
Please assign it to me.
Thanks

[2021-06-13 16:58] DhirajChauhan40 commented on #430
@GowthamGoush what are the requirements for this flappy bird project?

[2021-06-13 17:03] #373 closed

[2021-06-13 18:17] thegautamkumarjaiswal opened #461 "Add HangMan Game!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-13 18:18] thegautamkumarjaiswal commented on #461
@GowthamGoush @Tejas1510 please assign me this issue.

[2021-06-13 18:21] thegautamkumarjaiswal opened #462 "Python: script to find day of the week"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

- Py

[2021-06-13 18:22] thegautamkumarjaiswal commented on #462
@Tejas1510 please assign me this issue with lgmsoc21 label.

[2021-06-13 18:51] ishitakapoor26 commented on #425
@GowthamGoush pls review pr.

[2021-06-13 19:23] starrohan999 commented on #368
/assign

[2021-06-13 19:52] #425 closed

[2021-06-13 19:53] Saup21 opened #466 "I want to add a github profile viewer using javascript"
**Is your feature request related to a problem? Please describe.**
I didn't find a github profile viewer with js on javascript folder.

**Describe the solution you'd like**
So i want to add it.

[2021-06-13 20:51] hr1shu commented on #446
I'll be implementing the script in Python only and I'll use an external paid API.

[2021-06-14 02:10] richabh456 opened #469 "can i add script to verify the email-address?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-14 02:49] agamgupta2015 commented on #450
@RaveenaBhasin may u assign this issue to me i will do it in java

[2021-06-14 03:00] agamgupta2015 opened #470 "Tic Tac Toe in JavaScript"
Game in Java Scprit

[2021-06-14 03:11] GowthamGoush commented on #451
Alright, @YOGESH256, you may start working on it. Good luck 👍

[2021-06-14 03:15] #419 closed

[2021-06-14 03:21] #426 closed

[2021-06-14 03:23] akash435 opened #471 "Music Player in java"
Want to add this java file to play music.

here the music format used will be .wav format.
Also import all the necessary packages for playing audio.
In this we also have the option to resume, restart, stop, pause.

[2021-06-14 03:23] GowthamGoush commented on #461
Hey @thegautamkumarjaiswal, could you please elaborate on the technology that you will be using?

[2021-06-14 03:24] akash435 commented on #471
@Tejas1510 , @RaveenaBhasin, @GowthamGoush , please assign this to me under LGM SOC, want to add this java language Scripts.

[2021-06-14 03:27] #404 closed

[2021-06-14 03:35] Esha-Sherring opened #472 "want to add a Coin Toss game in JavaScript for LGMSOC21"

[2021-06-14 03:59] RaveenaBhasin commented on #470
@agamgupta2015 Already exists.

[2021-06-14 03:59] #470 closed

[2021-06-14 03:59] RaveenaBhasin commented on #472
@Esha-Sherring Please elaborate more about the input and output of the game.

[2021-06-14 04:00] RaveenaBhasin commented on #449
@DhirajChauhan40 Implement it in c++

[2021-06-14 04:02] #328 closed

[2021-06-14 04:04] RaveenaBhasin commented on #461
@thegautamkumarjaiswal If you are implementing in python then the issue already exists.

[2021-06-14 04:10] DhirajChauhan40 commented on #449
are there any requirements for the project? I'm new to open source contributions

[2021-06-14 05:06] Esha-Sherring commented on #472
It is a simple JavaScript game that has a toss button . Clicking on the button would randomly generate either heads or tails.
![image](https://user-images.githubusercontent.com/66880336/121841616-4e27fb00-ccfc-11eb-8dec-53c1e9ffbea5.png)
![image](https://user-images.githubusercontent.com/66880336/121841627-54b67280-ccfc-11eb-870f-722502a929ce.png)

[2021-06-14 05:16] thegautamkumarjaiswal commented on #461
@RaveenaBhasin I have seen its not implemented in python! You can also check it.

[2021-06-14 05:16] neelshah2409 opened #475 "Matchmaker Game"
**Is your feature request related to a problem? Please describe.**
When we were small kids we all have played card game in which all the cards are hidden then we have to get two same card and make a pair ,so why don't we can make it with python.

**Describe the solution you'd like**
I would like to write a python script using tkinter ,random ,time library and then make this game. It  will also hav

[2021-06-14 05:18] thegautamkumarjaiswal commented on #462
@GowthamGoush @RaveenaBhasin Please assign me this issue with lgmsoc21 label.

[2021-06-14 05:33] RaveenaBhasin commented on #461
@thegautamkumarjaiswal Issue already exists #424

[2021-06-14 05:33] #461 closed

[2021-06-14 06:25] GowthamGoush commented on #446
That seems interesting, but if you are using a paid API, I don't think other developers can run this application on their local machine, considering that the API key will be private.

[2021-06-14 06:28] RaveenaBhasin commented on #449
@DhirajChauhan40 As in what requirements?

[2021-06-14 06:29] DhirajChauhan40 commented on #449
yes like what to add exactly cause i can add anything
should it be input based?

[2021-06-14 07:25] karan4517 commented on #413
Plz assign me i have done it in java and source code uploaded to my github profile

[2021-06-14 07:27] karan4517 commented on #413
Its in working condition , i want to attach it with contribution profile plz contact me its very interesting and i made this just 1 weak before .

[2021-06-14 07:28] karan4517 commented on #413
@GowthamGoush i completed this project plz reply

[2021-06-14 07:37] #442 closed

[2021-06-14 07:43] hr1shu commented on #446
I've tested it and it runs smoothly on other local machines. If u need to test it, I can provide you the script. After you approve, I'll proceed further.

[2021-06-14 07:46] GowthamGoush commented on #413
- Hey, @agamgupta2015 and @karan4517, I really appreciate your enthusiasm towards contributing to this project, but this issue has already been assigned to @Umesh-01.
- If the assigned participant fails to complete within a limited time, it might be assigned to the next participant.
- You can feel free to create a new issue and also make sure to check whether your script is already present.

[2021-06-14 07:52] GowthamGoush commented on #446
Will your API key accessible to those who clone your project?

[2021-06-14 09:00] mitali-1703 commented on #431
@GowthamGoush @RaveenaBhasin now can u plz assign me this issue as I have completed all my prev. issues

[2021-06-14 09:01] mitali-1703 commented on #430
@GowthamGoush @RaveenaBhasin  now can u plz assign me this issue as I have completed all my prev. issues

[2021-06-14 09:10] DhirajChauhan40 commented on #430
@mitali-1703 i have already started working on this

[2021-06-14 09:12] mitali-1703 commented on #430
Oo ok i didn't know

[2021-06-14 09:27] Umesh-01 commented on #362
@RaveenaBhasin mam why this issue is still open?? 🤔
My PR is already merged 💯

[2021-06-14 10:33] mitali-1703 opened #481 "Can i create a sample HTML cheatsheet"
@RaveenaBhasin @GowthamGoush can u plz assign this to me under lgm-soc'21?

[2021-06-14 11:01] hr1shu commented on #446
Yeah, definitely!!

[2021-06-14 11:36] ishitakapoor26 opened #483 "Sentiment Classifier in Python"
A Sentiment Classifier is a program which will detect how positive or negative each tweet is. Also I will add a csv file, which contains columns for the Number of Retweets, Number of Replies, Positive Score (which is how many happy words are in the tweet), Negative Score (which is how many angry words are in the tweet), and the Net Score for each tweet. At the end, I will upload the csv file to Ex

[2021-06-14 11:37] ishitakapoor26 commented on #483
@GowthamGoush pls assign this issue to me.

[2021-06-14 11:49] #450 closed

[2021-06-14 12:00] its-me-debk007 commented on #220
**@Tejas1510** Sir, can I have the opportunity to work on it. I'm comfortable in **_python_** !
Also, it will help me **kickstart** my contribution in **LGMSoc** :)

[2021-06-14 12:39] #378 closed

[2021-06-14 13:08] #443 closed

[2021-06-14 13:18] amanjha8100 commented on #469
Elaborate, how are you planning to approach this, using OTP or just simple validator?

[2021-06-14 13:52] Paras0-7 opened #485 "A python script to crack a pdf password"
I would like to create a python script that would search for the password of the pdf from a .txt file and show the password if it gets the correct password.
@Tejas1510 @RaveenaBhasin @GowthamGoush  Can you assign me this issue under LGM -SOC'21.

[2021-06-14 14:11] #338 closed

[2021-06-14 14:12] Adarsh88 opened #486 "Snake game in python"
Title: Snake Game

LGM-SOC'21: Participant

Description: I would like to create this python script. Please assign this to me.

[2021-06-14 14:13] Kritika-2000 opened #487 "Stone-paper-scissor game in python"
### I'm submitting a
- [x] feature request.

### Do you want to work on this issue?
 Yes
Please assign this issue labels. I am a LGM-SOC participant and want to contribute

### Describe the issue?
I want to create a game of Stone-Paper-Scissor which the user can play against the computer and get three chances

[2021-06-14 14:33] Saup21 opened #489 "Want to reinvent the js calculator present in the js folder cause it's totally broken"
**Is your feature request related to a problem? Please describe.**
It doesn't work properly, the past inputs are not getting cleared and the calculator is tiny. The '%' acts like mod which calculators don't use

**Describe the solution you'd like**
I will change the design and remove the bugs and present a better one for the project.

[2021-06-14 14:49] richabh456 commented on #469
@amanjha8100 just simple validator,it will tell whether the given email address is valid or not.

[2021-06-14 15:24] #424 closed

[2021-06-14 15:29] RaveenaBhasin commented on #486
@Adarsh88 Already exists.

[2021-06-14 15:29] #486 closed

[2021-06-14 15:40] MukulKolpe opened #490 "Random Quote generator in JavaScript"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Instead of searching for quotes on google to post them on Twitter or Instagram, this website will provide you with quotes in just one click.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2021-06-14 15:57] thegautamkumarjaiswal opened #491 "ADD: Bank(employee/staff)_Management_System"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-14 15:58] thegautamkumarjaiswal commented on #491
@GowthamGoush @RaveenaBhasin assign it to me please.

[2021-06-14 16:45] RaveenaBhasin commented on #491
@thegautamkumarjaiswal Using which technology you are going to implement it?

[2021-06-14 16:56] Rutuj-Runwal opened #492 "Ping Pong Game"
An AI based Ping-Pong game in python with a GUI, each player controls a paddle in the game by dragging it vertically across the screen’s left or right side. Players use their paddles to strike back and forth on the ball.

[2021-06-14 16:59] karan4517 opened #493 "EVERY ONE TRY TO MAKE PROJECTS ON BUT VERY COMMON PROJECT IS TICTACTOE GAME."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-14 17:04] karan4517 commented on #493
I'm working on the projects if you give permission soon this project is on the platform @Tejas1510 @GowthamGoush
and  after the permission plz elaborate how i add my project into your platform .

[2021-06-14 17:16] #372 closed

[2021-06-14 17:19] #325 closed

[2021-06-14 17:21] #438 closed

[2021-06-14 17:22] Rutuj-Runwal opened #494 "ML Based Antimalware"
**Is your feature request related to a problem? Please describe.**
A light-weight antimalware in python for signature-less malicious files detection.
It will bebased on the behavior of files on the system.
[Eg: Let's say we have a file named PdfEditor.exe, the program will check if the file is from a reputed organization or not.
 Then it will go on tho check its date of creation etc.Will see if th

[2021-06-14 17:25] GowthamGoush commented on #446
Alright, good luck 👍

[2021-06-14 17:26] GowthamGoush commented on #446
Thanks for the patience, @hr1shu .

[2021-06-14 17:27] GowthamGoush commented on #445
So did you check the scripts whether the calculator script exists already?

[2021-06-14 17:29] GowthamGoush commented on #481
@mitali-1703, kindly focus on the issues that have been assigned to you already.

[2021-06-14 17:31] mitali-1703 commented on #481
@GowthamGoush but i have completed all my prev.issues that's why I created a new one

[2021-06-14 17:31] GowthamGoush commented on #489
Go ahead, @Saup21. Good luck 👍

[2021-06-14 17:32] rishabhrathore055 commented on #445
@GowthamGoush Yes I do But it's distance calculator

[2021-06-14 17:35] GowthamGoush commented on #481
A participant can work on 2 issues at a time, and since you have 3 issues assigned to you, we have to assign them to newcomers or participants looking for issues.

[2021-06-14 17:37] GowthamGoush commented on #481
Also, I'm not sure whether this issue can be considered as scripts under this project.

[2021-06-14 17:40] GowthamGoush commented on #487
@Kritika-2000, I really appreciate your enthusiasm for contributing to this project, but unfortunately, this issue exists under python.

[2021-06-14 17:42] GowthamGoush commented on #487
Feel free to create a new issue with a new script.

[2021-06-14 17:42] #487 closed

[2021-06-14 17:45] GowthamGoush commented on #462
Sorry for the delay. You may start working on it now, @thegautamkumarjaiswal.

[2021-06-14 17:50] GowthamGoush commented on #469
Hey @richabh456, I had a look at your previous pull request, which had lots of complications with the files. To avoid this, please make sure to create a new branch and add changes only to the folder concerned with your script. Feel free to reach us via slack in case of difficulties. Good luck 👍

[2021-06-14 20:28] #466 closed

[2021-06-15 01:25] mitali-1703 commented on #481
@GowthamGoush I have completed all those 3 issues and they are merged too so then why can't you assign me new issues?

[2021-06-15 03:28] agamgupta2015 opened #501 "Rock_Paper_Scisor in c++ using(OOPS)"
I beautiful game using c++

Please assign this issue to me I want to work on it

[2021-06-15 03:41] dhruv-varshney opened #502 "Python Mad Libs Generator Game"
The objective of this project is to develop a Mad Libs Generator python project. In this project, the user first has to pick a story by the title of the story. Then the user has to enter specific words like a noun, adverb, verb, food, adjective, etc, according to the requirements. And then the story will be generated.

[2021-06-15 03:41] dhruv-varshney commented on #502
please assign me this issue

[2021-06-15 04:04] GowthamGoush commented on #445
Alright then. Go ahead, @rishabhrathore055.

[2021-06-15 05:13] RaveenaBhasin commented on #502
@dhruv-varshney Already exists.

[2021-06-15 05:14] #475 closed

[2021-06-15 05:36] #502 closed

[2021-06-15 05:42] #447 closed

[2021-06-15 05:44] neelshah2409 opened #504 "Qrcode Generator"
**Is your feature request related to a problem? Please describe.**
How the QR code are generated and if how good it will be if we can customize QR.

**Describe the solution you'd like**
I would like to write a python script for making a QR of any link and then customising it like changing the background colour and size of QR.

[2021-06-15 06:15] Kritika-2000 opened #506 "Space Invaders Game in Python"
### I'm submitting a
- [x] feature request.

### Do you want to work on this issue?
 yes
Please assign this issue labels. I want to contribute in this amazing project under LGMSOC21.

### Describe the feature?
This is a space invaders game build using Pygame library of python. In this game user can fight the monsters with bullet and also their score get displayed.

[2021-06-15 06:32] divesh-giri opened #507 "Convert Clear Image to Blur Image using Python"
I would like to create a Python script that will convert a clear image to blur image.
@Tejas1510 @amanjha8100 @RaveenaBhasin @GowthamGoush Can you assign me this issue under LGM-SOC'21.
Thanks

[2021-06-15 07:39] DhirajChauhan40 commented on #430
@GowthamGoush @RaveenaBhasin @Tejas1510  can you tell me some extra features which you will like to be added in this project so i can start working on them cause the flappy bird game is ready

[2021-06-15 07:49] bindaldhara opened #509 "Animal quiz using python"
The Quiz game asks the player questions about animals. Player has three chances to answer a question .Each correct answer will score a point. At the end of the game, the program will reveal the player’s final score.

[2021-06-15 08:02] tejasvi541 opened #510 "QR Code Content Reader"
**Is your feature request related to a problem? Please describe.**
I have seen some issues in this repo of the form "QR Code generator", So I thought we have got a generator, then why not the QR code recognizer using python and OpenCV.

**Describe the solution you'd like**
The solution will consist of a python script that will open your webcam and by showing any QR code to the webcam will detect t

[2021-06-15 08:09] tejasvi541 commented on #510
I want to contribute to this amazing project under  LGMSOC21.

[2021-06-15 10:49] dhruv-varshney opened #512 "Contact Management system using python"

[2021-06-15 10:51] Kritika-2000 commented on #506
@RaveenaBhasin Thank you ✌

[2021-06-15 10:57] hr1shu opened #513 "PIP upgrade automation"
**Is your feature request related to a problem? Please describe.**
You can upgrade PIP version just by running the script, no need to open cmd prompt and write the command.

**Describe the solution you'd like**
A python automated script implemented in tkinter framework.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've cons

[2021-06-15 11:03] lucifer-here01 commented on #471
I want to contribute to this issue I  am  very new here at #lgmsoc'21  @atarax665

[2021-06-15 11:14] akash435 opened #514 "Add auto complete feature in Dictionary in python"
In the project that is in python folder named "Dictionary in Python",
want to add autocomplete feature while using entry in label,
like when we write some letter, then we get suggestion of list of words beginnin with that prefix in drop down list, and then if our word we want to enter appears there in drop down list , then we can directly select from there.

And also want to add Exit button in dic

[2021-06-15 11:15] akash435 commented on #514
@Tejas1510 @RaveenaBhasin @GowthamGoush , please assign this to me under LGM SOC, want to add this feature in Dictionary in python.

[2021-06-15 11:18] GowthamGoush commented on #481
@mitali-1703, a participant can work on 2 issues at a time; I hope you understand. Also, this issue is not under the scope of this project, so I'm closing it.

[2021-06-15 11:18] #481 closed

[2021-06-15 11:25] GowthamGoush commented on #510
Really appreciate your idea of this script, @tejasvi541. You may start working on it now. Good luck 👍

[2021-06-15 11:29] GowthamGoush commented on #485
@Paras0-7, though this issue seems to be an interesting one, I don't think this is a legit script for this project.

[2021-06-15 11:32] GowthamGoush commented on #504
@Paras0-7, I believe that someone is already working on a similar issue.

[2021-06-15 11:39] #485 closed

[2021-06-15 11:47] neelshah2409 opened #517 "Voting System"
**Is your feature request related to a problem? Please describe.**
How a voting system would be working ,it's always been a question in many of our minds.

**Describe the solution you'd like**
So I would like to making a voting system in which if you are a eligible voter and also it checks if you have voted or not and then at the end it will give the final result who had won the election .

[2021-06-15 11:57] Rishabhraghwendra18 opened #518 "Add Let'sGrowMore logo under 'Open Source Program' section"
Let'sGrowMore logo is missing under `Open Source Program` section in Readme.md . I will like to add it

[2021-06-15 12:11] #382 closed

[2021-06-15 12:12] #377 closed

[2021-06-15 12:13] #326 closed

[2021-06-15 13:12] #441 closed

[2021-06-15 13:24] priyaastha opened #523 "Want to add a SVG Generator in JavaScript"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.
This

[2021-06-15 14:06] Paras0-7 opened #525 "A ToDoList Application"
A basic CRUD application with OOP's concept that follows SRP and DRY principles. It will allow you to store the details of the tasks you need to complete.
@GowthamGoush @RaveenaBhasin Please assign me this issue under LGM-SoC.

[2021-06-15 14:34] Paras0-7 opened #526 "A python script to check the Internet Speed."

[2021-06-15 14:36] Paras0-7 commented on #485
Ok @GowthamGoush .

[2021-06-15 14:37] #526 closed

[2021-06-15 15:21] ArshWalker opened #528 "Theme Clock using JS with dark and light mode"
This is a Theme clock built using javascript. It also includes the feature of dark and light modes.
It also shows the day & date.

@RaveenaBhasin @GowthamGoush Please Assign me under LGMSOC21.

[2021-06-15 16:19] MuhammadAbdullah-hash opened #529 "Space invader game using python and pygame"
**Describe the solution you'd like**
I would like to make a game named "Corona invader" similar to space invaders using pygame. user will play against a corona molecule with his character of choice. Sounds and graphics will be added .

[2021-06-15 16:33] RaveenaBhasin commented on #528
@ArshWalker We already have an analog clock so if u can include light dark mode in that only it would be good to go rather than creating a separate script.

[2021-06-15 16:34] #459 closed

[2021-06-15 16:35] RaveenaBhasin commented on #529
@MuhammadAbdullah-hash Already present.

[2021-06-15 16:35] #529 closed

[2021-06-15 16:46] ArshWalker commented on #528
@RaveenaBhasin So what should I do?
Can I raise a direct PR by adding light&dark to the analog clock?
Or I have to raise an another issue?

[2021-06-15 16:49] #514 closed

[2021-06-15 16:53] akash435 opened #531 "Add auto complete feature in Dictionary in python"
In the project that is in python folder named "Dictionary in Python",
want to add autocomplete feature while using entry in label,
like when we write some letter, then we get suggestion of list of words beginnin with that prefix in drop down list, and then if our word we want to enter appears there in drop down list , then we can directly select from there.

And also want to add Exit button in dic

[2021-06-15 16:53] ArshWalker commented on #528
I have a different design for a clock.
![image](https://user-images.githubusercontent.com/54627391/122093065-49f8fc00-ce28-11eb-8a16-900c411a433e.png)

[2021-06-15 16:55] akash435 commented on #531
@Tejas1510 @RaveenaBhasin @GowthamGoush , please assign this to me under LGM SOC, want to add this feature in Dictionary in Python project.

[2021-06-15 17:18] #445 closed

[2021-06-15 17:28] Shaishav0507 opened #532 "Add Tetris Game in Python"
**Is your feature request related to a problem? Please describe.**

Hey @Tejas1510 @RaveenaBhasin
I would like to add Tetris Game in python.
Please assign it to me.
Thanks.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've cons

[2021-06-15 17:54] GowthamGoush commented on #523
Hey, @priyaastha, that is a cool script. You may start working on it. Good luck 👍

[2021-06-15 17:56] GowthamGoush commented on #507
Go ahead, @divesh-giri. Good luck 👍

[2021-06-15 19:00] #327 closed

[2021-06-15 20:56] dhruv-varshney commented on #512
It's more than 5 hours, but still, I am not assigned for this issue?? I guess this project is not there in the python file of Hacking-Scripts repository

[2021-06-15 20:56] dhruv-varshney commented on #512
please assign me for this issue

[2021-06-15 20:59] dhruv-varshney commented on #510
@GowthamGoush please assign me this issue.

[2021-06-15 21:02] dhruv-varshney commented on #506
is this issue assigned to someone? if not I want to work on this issue.

[2021-06-15 22:24] Saup21 opened #536 "ROT-N algorithm in python ( N => ranging from 1-25 )"
**Is your feature request related to a problem? Please describe.**
I want a ROT-N algo to be included in the python folder of this project.

**Describe the solution you'd like**
I'll write a code that rotates input characters by n so as to encrypt them.

[2021-06-16 00:17] SaifKhan09 opened #537 "Add Simon Game to the JavaScripts Scripts."
**Is your feature request related to a problem? Please describe.**
I would like to add a memory based game called SIMON GAME in the JavaScript Scripts. There are basically Four Buttons of different colours, when you press a key the game will start and with an animation and sound one of the buttons will blink, the user is then supposed to click that button. If the user clicked button matches the bl

[2021-06-16 02:23] richabh456 commented on #469
okay sir

[2021-06-16 03:41] #413 closed

[2021-06-16 03:47] GowthamGoush commented on #517
Kindly mention the technology you will be working on.

[2021-06-16 03:49] tejasvi541 opened #543 "Mac Address Changer for Linux"
**Is your feature request related to a problem? Please describe.**
Staying anonymous is a necessary task to use the internet nowadays, so why not spoof your Mac address.

**Describe the solution you'd like**
The Mac address changer script is written in **python3** and can be executed in Linux CLI by first writing the new Mac address and then writing the name of the network interface you are using

[2021-06-16 03:58] #489 closed

[2021-06-16 04:47] GowthamGoush commented on #543
@tejasvi541, this script seems to be amazing but does not appear to be legit for this project.

[2021-06-16 05:02] neelshah2409 commented on #517
Sir I would use while loop and conditional statements only .
Here there will be 2 nominees for election and 10 voters when all the voters give their vote then result will be announced and for voter one id is assigned to each one if there id doesn't match then they cannot vote.

[2021-06-16 05:04] tejasvi541 commented on #543
@GowthamGoush , so should I close this issue then?

[2021-06-16 05:12] GowthamGoush commented on #543
Yeah, @tejasvi541, consider creating a new issue with a new script.

[2021-06-16 05:12] #543 closed

[2021-06-16 05:13] #506 closed

[2021-06-16 05:39] predator-24 commented on #537
#329

[2021-06-16 05:42] tanvi355 opened #544 "Pomodoro clock in Python"
**Is your feature request related to a problem? Please describe.**
Pomodoro sessions help in concentrating and studying.

**Describe the solution you'd like**
To make a Pomodoro clock timer

**Describe alternatives you've considered**
start, stop, reset options.

**Additional context**
I am an LGM-SoC'21 participant.

[2021-06-16 05:43] tanvi355 commented on #544
Mentors, please assign this to me.

[2021-06-16 05:49] SaifKhan09 commented on #537
I dont understand this issue you mentioned, can you please elaborate as to what i need to do?

[2021-06-16 06:23] neelshah2409 commented on #517
sir please see this and please assign me.

[2021-06-16 06:44] RaveenaBhasin commented on #537
@SaifKhan09 I think the game u mentioned is the same as color guessing game #329.

[2021-06-16 06:51] SaifKhan09 commented on #537
Oh , okay now i understand. Thanks @predator-24 @RaveenaBhasin

[2021-06-16 06:51] #537 closed

[2021-06-16 07:55] #490 closed

[2021-06-16 08:04] GowthamGoush commented on #544
Hey, @tanvi355, that's gonna be a cool script. Go ahead. and good luck 👍

[2021-06-16 08:05] GowthamGoush commented on #536
@Saup21, I really appreciate your enthusiasm, but this script is not under this project's scope.

[2021-06-16 08:06] Saup21 commented on #536
Okay but I can also write it in c++ or javascript. Is that possible?

[2021-06-16 08:07] GowthamGoush commented on #531
Proceed further, @akash435.

[2021-06-16 08:10] GowthamGoush commented on #517
Which language will you be using here?

[2021-06-16 08:19] GowthamGoush commented on #512
@dhruv-varshney, kindly explain how you gonna implement this and list out its features. Since this is not the first issue you are creating, we expect you to raise a quality issue with a proper explaination.

[2021-06-16 08:22] GowthamGoush commented on #513
@hr1shu, could you please elaborate on your script?

[2021-06-16 08:25] GowthamGoush commented on #501
Go ahead, @agamgupta2015.

[2021-06-16 08:29] GowthamGoush commented on #388
@harsh6768-svg, this script is not under the scope of this project. So I'm closing it.
Also, extremely sorry for the delay.

[2021-06-16 08:44] rahulsrivastava1 opened #549 "Coffee Machine In Java Langauge"
**Is your feature request related to a problem? Please describe.**
I want to contribute a code in java for coffee machine.

**Describe the solution you'd like**
A code in Java

Hey @Tejas1510 please assign me this.

[2021-06-16 08:52] #427 closed

[2021-06-16 09:03] neelshah2409 commented on #517
@GowthamGoush  , I would write a script in python .

[2021-06-16 09:05] ArshWalker commented on #528
@GowthamGoush please assign me

[2021-06-16 09:10] hr1shu commented on #513
![Screenshot (190)](https://user-images.githubusercontent.com/57145318/122191940-cf27f380-ceb0-11eb-98e8-c8330e5b3e91.png)

[2021-06-16 09:13] ArshWalker opened #551 "Quiz App using JS"
# Quiz App
It's a basic structured UI for Quiz built with HTML, CSS, & JavaScript.
New Questions can be added to the quiz in the JS file. And take a quick test. I have added some basic web development questions.
## _UI for Quiz_
![image](https://user-images.githubusercontent.com/54627391/122253045-732d9100-cee9-11eb-86ec-91b137db74c7.png)

@GowthamGoush @Tejas1510 @RaveenaBhasin  Please assign me.

[2021-06-16 09:13] hr1shu commented on #513
The script is developed with OS module to access the command prompt. I've used tkinter for GUI. It will directly upgrade your PIP version once you click on the button as shown in image.

[2021-06-16 10:41] Saup21 opened #554 "Flappy bird game using js"
**Is your feature request related to a problem? Please describe.**
I want to add a Flappy Bird game in the js section of this project.

**Describe the solution you'd like**
A game built using html css Bootstrap and js which will add value to this repo.

[2021-06-16 11:53] PriyankaHotchandani opened #557 "Time zone converter"
**Describe the solution you'd like**
A python program that converts a time from one time zone to another. The user enters the
time in the usual American way, such as 3:48pm or 11:26am. The first time zone the user
enters is that of the original time and the second is the desired time zone. The possible time
zones considered are Eastern, Central, Mountain, or Pacific.

**Describe alternatives you'v

[2021-06-16 13:55] SaifKhan09 opened #558 "Making the Dice Game a Competetive One"
**Is your feature request related to a problem? Please describe.**
The Dice Game that is already present in the Javascript folder is kind of a single player dice roll, What i Have in my mind is that i can add another player and make it a sort of competetive dice game. Whichever player gets a higher random number that player is declared as a winner.

**Describe the solution you'd like**
I will be u

[2021-06-16 13:57] GowthamGoush commented on #513
Alright, go ahead.

[2021-06-16 13:59] RaveenaBhasin commented on #549
@rahulsrivastava1 Can you please elaborate what do you mean by implementing coffee machine?

[2021-06-16 14:15] #501 closed

[2021-06-16 14:16] #518 closed

[2021-06-16 14:25] neelshah2409 opened #559 "Currency Converter in Python"
**Is your feature request related to a problem? Please describe.**
When we need to convert currency every time we need to google it but instead of that what if we our script do that.

**Describe the solution you'd like**
I would like to write a python script in which we can convert currency by just making a dictionary of currency as another file in same folder (getting currency rates from google f